---
layout: default
title: Hire android developer | Hire Android App Developers in India & USA | Codecrux 
description: Hire Android Developers from a leading Android App Development company in India & USA. Codecrux develop, ecommerce app, custom app and amazing Android app for your business. Our developers are skilled and experienced. we provide best Android and user-friendly apps. 
keywords: CRM, customer relationship management, consultancy business portal, ecommerce website
image: /img/solutions/waste-management-software-applications.jpg
---

<section class="showcase">
  <div class="ui-banner">
    <div class="container">
      <div class="row" style="margin-top: 2rem">
        <div class="col-md-6">
          <div class="section-details">
            <h1 class="h1-font mar-t2">
              <b style="color: white">Hire Android Developer</b>
            </h1>
            <p class="p1-font">
              Want to hire Android developers? We have successfully developed
              over 1600 Android mobile apps for different industries. From
              validating your app idea to making it live on the Google Play
              Store, we take care of everything.
            </p>
            <li class="nav-cta mar-t2">
              <a href="#contact-form" class="btn btn-rounded btn-k"
                >Schedule a Meeting</a
              >
            </li>
          </div>
        </div>

        <div class="col-md-5 contact-form" id="contact-form">
          <div
            class="engage-hub-form-embed"
            id="eh_form_5517012111458304"
            data-id="5517012111458304"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- *****************************Services************************************** -->

<section id="services-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="mar-t2">
          <h2 class="font-title font-family text-center text-alt">
            Our Full-Stack Android App Development Services
          </h2>
        </div>
      </div>
    </div>
    <div class="row mar-t4">
      <div class="col-lg-4 col-sm-10 col-md-6 m-sm-auto wow bounceIn animated">
        <div class="serv-items extra-mar ser-tab-mar text-center">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser2.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="font-family">CUSTOM ANDROID APPS</h4>
          <p class="font-family">
            We craft and deliver the custom-designed android 
            application as per your need and vision.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-10 col-md-6 m-sm-auto wow bounceIn animated">
        <div class="serv-items extra-mar ser-tab-mar text-center">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser1.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">AR/VR MOBILE APPS</h4>
          <p class="font-family">
            Our team has successfully created interactive, easily 
            accessible, tech-rich, and innovative augmented/virtual 
            reality apps for more than 10 years now.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-10 col-md-6 m-sm-auto wow bounceIn animated">
        <div class="serv-items extra-mar ser-tab-mar text-center">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser3.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">WEARABLE APPS</h4>
          <p class="font-family">
            Our programmers can create trendsetting wearable mobile apps based on the requirement.

          </p>
        </div>
      </div>
      <div
        class="
          col-lg-4 col-sm-10 col-md-6
          m-sm-auto
          wow
          bounceIn
          animated
          extra-mar
        "
      >
        <div class="serv-items ser-tab-mar mobile-margin text-center extra-mar">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser1.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">BLOCKCHAIN MOBILE APPS</h4>
          <p class="font-family">
            Our developers use blockchain technology to 
            design and deploy apps with the best security features.

          </p>
        </div>
      </div>
      <div
        class="
          col-lg-4 col-sm-10 col-md-6
          m-sm-auto
          wow
          bounceIn
          animated
          extra-mar
        "
      >
        <div class="serv-items mobile-margin text-center extra-mar">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser5.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">ANDROID UX & DESIGN</h4>
          <p class="font-family">
            Our team of developers & designers focuses on creating 
            interactive, creative, and user-friendly designs for our clients.

          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-10 col-md-6 m-sm-auto wow bounceIn animated">
        <div class="serv-items text-center extra-mar">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser4.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">AI/MACHINE LEARNING APPS</h4>
          <p class="font-family">
            We have a team of dedicated android app developers who are 
            experienced and well versed in Android game development. 

          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-10 col-md-6 m-sm-auto wow bounceIn animated">
        <div class="serv-items text-center extra-mar">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser2.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">ANDROID GAME DEVELOPMENT</h4>
          <p class="font-family">
            Our Android developers practice implementing machine learning algorithms to 
            create AI-backed Android mobile applications.

          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-10 col-md-6 m-sm-auto wow bounceIn animated">
        <div class="serv-items text-center extra-mar">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser1.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">AI/MACHINE LEARNING APPS</h4>
          <p class="font-family">
            Our Dedicated Android app developers are deeply knowledgeable in
            Android game development. We create the best 2D and 3D games for
            with best security features.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-10 col-md-6 m-sm-auto wow bounceIn animated">
        <div class="serv-items text-center extra-mar">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser3.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">
            THIRD-PARTY INTEGRATION AND API CUSTOMIZATION
          </h4>
          <p class="font-family">
            Hire our Google-certified Android developers 
            for third-party integration and custom API for 
            all applications.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-10 col-md-6 m-sm-auto wow bounceIn animated">
        <div class="serv-items text-center extra-mar">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser1.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">ANDROID APP MAINTENANCE & SUPPORT</h4>
          <p class="font-family">
            Our android developers are always available for services 
            including android app testing, support & maintenance of 
            all reliable and high-performance mobile apps. 
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-10 col-md-6 m-sm-auto wow bounceIn animated">
        <div class="serv-items text-center extra-mar">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser5.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">ANDROID APP UPGRADES</h4>
          <p class="font-family">
            We provide budget-friendly app upgrade services for Android 
            operating systems to create enterprise-grade apps for businesses.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-10 col-md-6 m-sm-auto wow bounceIn animated">
        <div class="serv-items text-center extra-mar">
          <div class="serv-img">
            <img
              src="/assets/img/ruby-on-rails-developer/hire-ser4.png"
              alt="Hire Ruby On Rails Developer"
            />
          </div>
          <h4 class="h4-font font-family">NATIVE ANDROID APP DEVELOPMENT</h4>
          <p class="font-family">
            Our developers are up to date with the latest Android application development technologies.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include /cta.html %}
<br>
<br>
<section>
  <div id="" class="inv-section">
    <div class="section-inner">
      <div class="container">
        <div class="row">
          <!-- .region-content-->
          <div
            class="
              inv-region
              region-content
              col-xs-12 col-sm-12 col-md-12 col-lg-12
              region
            "
          >
            <div id="block-enar-content" class="block">
              <div>
                <div
                  data-history-node-id="396"
                  role="article"
                  about="/hire-android-developer"
                >
                  <div class="content--node">
                    <div
                      class="
                        clearfix
                        text-formatted
                        field
                        field--name-body
                        field--type-text-with-summary
                        field--label-hidden
                        field__item
                      "
                    >
                      <div class="text-center text-black font-size16 mb45">
                        <h2 class="text-black font-family font-title text-alt">
                          Android App Development Technologies We Work In
                        </h2>

                        <p class="p1-font mar-t1 col-centered about-para">
                          Codecrux is a technology hub for the 
                          finest minds in the industry who are skilled 
                          and have years of experience in working with the
                          latest technologies, UI/UX designing tools, and Databases.
                        </p>
                      </div>

                      <div class="row mb45">
                        <div
                          class="
                            col-lg-2 col-md-3 col-sm-4 col-xs-6
                            text-center
                          "
                        >
                          <div class="ocd-solutions">
                            <span
                              ><img
                                alt="xcode"
                                data-entity-type="file"
                                data-entity-uuid="64d201c8-2269-4691-8b53-73579ea5027a"
                                src="/assets/img/android-developer/xcode.png"
                            /></span>

                            <h3>Xcode</h3>
                          </div>
                        </div>

                        <div
                          class="
                            col-lg-2 col-md-3 col-sm-4 col-xs-6
                            text-center
                          "
                        >
                          <div class="ocd-solutions">
                            <span
                              ><img
                                alt="kotlin"
                                data-entity-type="file"
                                data-entity-uuid="ab7cd820-0107-4a7f-aa46-cd09eadbd1bc"
                                src="/assets/img/android-developer/kotlin.png"
                            /></span>

                            <h3>Kotlin</h3>
                          </div>
                        </div>

                        <div
                          class="
                            col-lg-2 col-md-3 col-sm-4 col-xs-6
                            text-center
                          "
                        >
                          <div class="ocd-solutions">
                            <span
                              ><img
                                alt="swift"
                                data-entity-type="file"
                                data-entity-uuid="83f2e3a2-3d8e-44e3-9160-f6c39d1898e7"
                                src="/assets/img/android-developer/swift.png"
                            /></span>

                            <h3>Swift</h3>
                          </div>
                        </div>

                        <div
                          class="
                            col-lg-2 col-md-3 col-sm-4 col-xs-6
                            text-center
                          "
                        >
                          <div class="ocd-solutions">
                            <span
                              ><img
                                alt="iconic"
                                data-entity-type="file"
                                data-entity-uuid="d10322e1-eb40-431f-9082-76f9dda4c8f3"
                                src="/assets/img/android-developer/iconic.png"
                            /></span>

                            <h3>Iconic</h3>
                          </div>
                        </div>

                        <div
                          class="
                            col-lg-2 col-md-3 col-sm-4 col-xs-6
                            text-center
                          "
                        >
                          <div class="ocd-solutions">
                            <span
                              ><img
                                alt="react"
                                data-entity-type="file"
                                data-entity-uuid="aa4a1618-9d6c-4f7f-b620-2d8f005a41de"
                                src="/assets/img/android-developer/react.png"
                            /></span>

                            <h3>React</h3>
                          </div>
                        </div>

                        <div
                          class="
                            col-lg-2 col-md-3 col-sm-4 col-xs-6
                            text-center
                          "
                        >
                          <div class="ocd-solutions">
                            <p>
                              <span
                                ><a
                                  data-entity-type="file"
                                  data-entity-uuid="bd53b33d-4777-482f-92c5-d835414f596d"
                                  href="https://www.zrix.com/flutter-app-development-services"
                                  ><img
                                    alt="flutter"
                                    data-entity-type="file"
                                    data-entity-uuid="bd53b33d-4777-482f-92c5-d835414f596d"
                                    src="/assets/img/android-developer/flutter.png" /></a
                              ></span>
                            </p>

                            <h3>Flutter</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END .region-content-->
      </div>
    </div>
  </div>
</section>

<!-- Benefits -->

<section class="features-area pt-50 pb-50 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-2 text-left">
          <h2 class="font-title text-center font-family text-alt">
            Benefits of Android
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-40">
        <div class="work-single-item padding-bottom-55">
          <div class="content">
            <div class="icon-desg">
              <div class="icon">
                <i class="far fa-rocket"></i>
              </div>
              <h3 class="title animated font-family">
                Quick sanction in Play Storee
              </h3>
              <p class="utility-para font-family text-center">
                2X faster development time when compared to other programming languages
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-40">
        <div class="work-single-item padding-bottom-55">
          <div class="content">
            <div class="icon-desg">
              <div class="icon">
                <i class="far fa-object-group"></i>
              </div>
              <h3 class="title animated font-family">
                Hassle-free personalization
              </h3>
              <p class="utility-para font-family text-center">
                The 3rd party quality code libraries make the process simple and hassle-free.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-40">
        <div class="work-single-item padding-bottom-55">
          <div class="content">
            <div class="icon-desg">
              <div class="icon">
                <i class="far fa-users"></i>
              </div>
              <h3 class="title animated font-family">Optimum scalability</h3>
              <p class="utility-para font-family text-center">
                We have a dedicated team of skilled and experienced developers & designers.

              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-lg-4 col-md-12 mb-40">
        <div class="work-single-item padding-bottom-55">
          <div class="content">
            <div class="icon-desg">
              <div class="icon">
                <i class="far fa-clock"></i>
              </div>
              <h3 class="title animated font-family">Enhanced security</h3>
              <p class="utility-para font-family text-center">
                Supports the practice of having structured and readable projects thus saving a lot of time. 
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-40">
        <div class="work-single-item padding-bottom-55">
          <div class="content">
            <div class="icon-desg">
              <div class="icon">
                <i class="far fa-cog"></i>
              </div>
              <h3 class="title animated font-family">
                Target multiple frameworks
              </h3>
              <p class="utility-para font-family text-center">
                Android offers high in-built security within its framework.

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-40">
        <div class="work-single-item padding-bottom-55">
          <div class="content">
            <div class="icon-desg">
              <div class="icon">
                <i class="far fa-lock"></i>
              </div>
              <h3 class="title animated font-family">Secure</h3>
              <p class="utility-para font-family text-center">
                Android has a large repository of free plugins that can customize any website you need.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Why COdecrux -->

<section class="sectionCl new_benefits-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="">
          <h1 class="font-title font-family text-alt">
            Why hire Android app developers from CodeCrux for your business?
          </h1>
          <p class="p1-font font-family">
            At Codecrux we have a team of highly skilled and experienced 
            android developers who have successfully delivered many 
            projects in the past years.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img
          src="/assets/img/ruby-on-rails-developer/T-Hub-Space.jpg"
          class="style-img"
          alt=""
        />
      </div>
    </div>

    <div class="benefits_list">
      <div class="row-3 mar-t2">
        <div class="col-md-12 new_text-icon-repeater col-lg-4">
          <div class="designing">
            <img
              src="/assets/img/ruby-on-rails-developer/blue-arrow.png"
              alt=""
              data-ll-status="loaded"
              class="entered lazyloaded"
            />
            <h4 class="font-family">Universal reach</h4>
          </div>
          <p class="p1-font font-family">
            We have a team of professionals who have worked with 
            many globally renowned names in the market. We are 
            known for our quality and transparency. 
          </p>
        </div>
        <div class="col-md-12 new_text-icon-repeater col-lg-4">
          <div class="designing">
            <img
              src="/assets/img/ruby-on-rails-developer/blue-arrow.png"
              alt=""
              data-ll-status="loaded"
              class="entered lazyloaded"
            />
            <h4 class="font-family">Hire anywhere and anytimey</h4>
          </div>
          <p class="p1-font font-family">
            Our clients are always our priority. Our team 
            works at flexible timings depending on the 
            client's requirements.
          </p>
        </div>
        <div class="col-md-12 new_text-icon-repeater col-lg-4">
          <div class="designing">
            <img
              src="/assets/img/ruby-on-rails-developer/blue-arrow.png"
              alt=""
              data-ll-status="loaded"
              class="entered lazyloaded"
            />
            <h4 class="font-family">Easy access</h4>
          </div>
          <p class="p1-font font-family">
            We offer a highly efficient platform with management 
            & onboarding tools to simplify the hiring process.
          </p>
        </div>
        <div class="col-md-12 new_text-icon-repeater col-lg-4">
          <div class="designing">
            <img
              src="/assets/img/ruby-on-rails-developer/blue-arrow.png"
              alt=""
              data-ll-status="loaded"
              class="entered lazyloaded"
            />
            <h4 class="font-family">Full control over the team</h4>
          </div>
          <p class="p1-font font-family">
            Our clients have full access to the hired team. You 
            can hire a single developer or an entire team of developers depending on the requirement.
          </p>
        </div>
        <div class="col-md-12 new_text-icon-repeater col-lg-4">
          <div class="designing">
            <img
              src="/assets/img/ruby-on-rails-developer/blue-arrow.png"
              alt=""
              data-ll-status="loaded"
              class="entered lazyloaded"
            />
            <h4 class="font-family">IP Security and Protection</h4>
          </div>
          <p class="p1-font font-family">
            We understand and respect the privacy of our 
            clients therefore we make sure to follow all the 
            Security and Protection protocols to eliminate all risks.
          </p>
        </div>
        <div class="col-md-12 new_text-icon-repeater col-lg-4">
          <div class="designing">
            <img
              src="/assets/img/ruby-on-rails-developer/blue-arrow.png"
              alt=""
              data-ll-status="loaded"
              class="entered lazyloaded"
            />
            <h4 class="font-family">Flexible support</h4>
          </div>
          <p class="p1-font font-family">
            We provide 24/7 round-the-clock support regarding all issues related to the projects.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include /cta.html %}
<!-- Industry Verticals -->
<section class="mar-t1">
  <div class="container">
    <div class="new_section-title new_heading font-18">
      <h1 class="font-title font-family text-center text-alt">
        We Cover Below Industries
      </h1>
      <p class="p1-font font-family p-wth-860 col-centered text-center">
        Over the years, we have worked with many reputed names around the globe. Codecrux is known for its vision and constant effort of providing simple, 
        user-friendly and easily scalable technology solutions to our clients in various Sectors.
        <br>

      </p>
    </div>

    <div class="icon_callout_listing icon-column-6">
      <div class="icon_callout_flex">
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/healthcare-and-medical-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Healthcare</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/logistics-times-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Logistics</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/education1-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Education</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/building-retail-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Retail</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/finance-book-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Finance</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/wellness-activity-notification-application-reminder-lifestyle-management-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Wellness &amp; Fitness</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/oil1-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Oil &amp; Gas</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/transportation-vehicle-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Transportation</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/travel-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Travel</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/social-network-brand-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="error"
              class="entered error img-width"
            />
            <h6 class="card-title-h6 font-family">Social Network</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/calendar-add-event-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Event</h6>
          </div>
        </div>
        <div class="icon_column_sizer">
          <div class="iconBox icons-sty">
            <img
              src="/assets/img/ruby-on-rails-developer/time-productivity-stopwatch-watch-alarm-alert-notification-svgrepo-com.svg"
              alt="App Strategy &amp; Consulting"
              data-ll-status="loaded"
              class="entered lazyloaded img-width"
            />
            <h6 class="card-title-h6 font-family">Productivity</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- *********************************How do we work********************** -->

<section class="how-to-start">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cmn-title">
          <h2 class="font-title font-family text-alt">Android Development Process: How it Works</h2>
          <p class="p1-font max-wt-600 col-centered">
            Step by step guide to hiring the mobile application developer you need for your project.

          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="start-step">
          <div class="process-step yellow-bor">
            <img
              src="/assets/img/android-developer/Requirement-gathering-1.png"
              alt=""
              style="margin-top: 3em"
            />
          </div>
          <p>
            Drop an<br />
            Inquiry
          </p>
          <div class="arrow-line arrow-line1">
            <img
              src="/assets/img/mobile-developer/hire-yellow-line.png"
              alt=""
              class="hello"
            />
          </div>
        </div>
        <div class="start-step">
          <div class="process-step blue-bor">
            <img
              src="/assets/img/android-developer/UIUX-Design.png"
              alt=""
              style="margin-top: 3em"
            />
          </div>
          <p>
            Consult With<br />
            Our Experts
          </p>
          <div class="arrow-line arrow-line2">
            <img
              src=" /assets/img/mobile-developer/hire-blue-line.png"
              alt=""
              class="hello"
            />
          </div>
        </div>
        <div class="start-step">
          <div class="process-step purple-bor">
            <img
              src="/assets/img/android-developer/App-Development.png"
              alt=""
              style="margin-top: 3em"
            />
          </div>
          <p>
            Select Engagement<br />
            Model
          </p>
          <div class="arrow-line arrow-line3">
            <img
              src=" /assets/img/mobile-developer/hire-purple-line.png"
              alt=""
              class="hello"
            />
          </div>
        </div>
        <div class="start-step">
          <div class="process-step green-bor">
            <img
              src="/assets/img/android-developer/Quality-Assurance.png"
              alt=""
              style="margin-top: 3em"
            />
          </div>
          <p>
            Sign off and<br />
            Begin Work
          </p>
          <div class="arrow-line arrow-line4">
            <img
              src=" /assets/img/mobile-developer/hire-green-line.png"
              alt=""
              class="hello"
            />
          </div>
        </div>
        <div class="start-step">
          <div class="process-step blue-bor">
            <img
              src="/assets/img/android-developer/Deployment.png"
              alt=""
              style="margin-top: 3em"
            />
          </div>
          <p>
            Scale Your<br />
            Team
          </p>
        </div>
      </div>
    </div>
    
  </div>
</section>

{% include /cta.html %}

<!-- FAQS -->

<section class="sectionCl new_faqs-section bg-light">
  <div class="container">
    <div class="new_section-title new_heading font-18 new_center_heading">
      <h1 class="font-family font-title text-alt">Frequently Asked Questions</h1>
      <p class="p1-font font-family">
        Go through the answers to the below frequently asked questions to get a
        complete picture of how we work.
      </p>
    </div>
    <div class="col-md-10 col-centered">
      <div class="accordion-1">
        <div class="contentBx">
          <div class="label-1">
            What are the different industries where you have worked?
          </div>
          <div class="content">
            Our team of developers & designers have worked with clients from different industries. 
            Some of these include Digital Marketing, Retail & ECommerce, Travel& Tourism, Media & Entertainment, Healthcare, and Banking & Finance.

          </div>
        </div>
        <div class="contentBx">
          <div class="label-1">
            How long does it take to build a mobile application?
          </div>
          <div class="content">
            Total time to build a mobile application varies with factors like complexity and desired features. 
            Find & Hire the finest android developers from India at Codecrux Pvt Ltd.<br><br>
            Our team of developers is skilled and experienced in creating well-customized mobile applications tailoring to your needs.

          </div>
        </div>
        <div class="contentBx">
          <div class="label-1">
            What is the experience of your Android app developers?
          </div>
          <div class="content">
            Our team of Android developers has 5+ years of 
            experience working in the industry. They are skilled and 
            experienced in creating interactive & user-friendly android applications for your business.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
