---
layout: default
title: Apply for CodeCrux Jobs, send resume to jyothi@codecrux.com
description:  Oracle Developer, SQL Developer and PL/SQL Database Developer jobs at CodeCrux Web Technologies Pvt Ltd
keywords: database jobs, plsql jobs, Business Development job, hyderabad job
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">DataBase / PL/SQL Developer <br>
        <small>Work From Office : Hyderabad  - (Full Time)</small>
      </h1>
     <div><hr class="pf-item-hr"><br></div>

      <p><b>Job Requirements :</b> </p>
        
      <ol>
        <p>1. 3 to 5 years of database development experience (Oracle SQL, PL/SQL).</p>
        <p>2. Hands-on experience in database design</p>
        <p>3. Basic knowledge of Oracle database architecture and overview of object oriented programming in Oracle database.</p>
        <p>4. Practical creation and implementation of data models.</p>
        <p>5. Familiar with database management programs (TOAD, SQL Developer, PL/SQL Developer) </p>
        <p>6. Strong communication skills.</p>
        <p>7. Advanced oral and written English </p>
        <p>8. Experience with Oracle Forms, Oracle Reports, Oracle APEX is a plus.</p>
        <p>9. Experience in data architecture is a plus. </p>
        
      </ol>


    </div><br><br>

    {% include /how-to-apply.html %}

  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

{% include /thub.html %}
