name: CodeCrux Web Technologies
description: CodeCrux builds web and mobile applications using Ruby on Rails, iOS and Android for startups, high growth, enterprises
baseurl:
url: https://codecrux.com

twitter_username: codecrux
github_username:  codecrux

# Build settings
markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

gems:
  - jekyll-seo-tag
  - jekyll-redirect-from

collections:
  cookies:
    output: true
