---
layout: landing-page
---
  <!-- Header -->
  <section class="banner">
    <div class="intro-text">
      <h1 class="intro-heading"><div class="intro-lead-in">We Create</div>Smart, Data-Driven and Outcome focussed Products</h1>
      <div class="intro-sub-text">
        <p class="for-text">for</p>
        <ul class="intro-sub-list">
          <li>Startups</li>
          <li>High Growth</li>
          <li>Enterprises</li>
        </ul>
      </div>
      <a href="#contact" class="page-scroll btn btn-know-more">Contact Us  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right fa-lg"></i></a>
    </div>
  </section>
  <div class="clearfix"></div>


  {% include /technology.html %}

  {% include /what-we-do.html %}


  <!-- Portfolio Grid Section -->
  <section id="portfolio" class="portfolio-wrap">
    <br>
    <div class="section-heading">

      <h2>Our Clients</h2><br>
      <center><p>We've helped organizations across industries leverage the web for their business goals.</p></center>
    </div>

    <div class="container">
      <div id="portfolio-carousel" class="owl-carousel">

        <div class="portfolio-item">
          <a target="_blank" class="image" href="http://barknlounge.com">
            <img src="/img/clients/codecrux-barknlounge.png" alt="BARKNLOUNGE">
          </a>
        </div>

        <div style="padding-top:70px;">
          <h4>BARKNLOUNGE</h4>
          <p>
            A pet care and accomadation booking system <br>
            > They offer customized care for dogs with special needs and senior dogs. <br>
            > They high ratio of staff to dogs makes sure no dog goes un-attended & all-day supervised play during daycare
          </p>
          <br>
          <p class="pf-links">
            <a href="http://barknlounge.com" class="btn-primary-link" target="_blank">Visit Website<i class="fa fa-long-arrow-right fa-right"></i></a>
          </p>
        </div>

        <div class="portfolio-item">
          <a target="_blank" class="image" href="http://postfridays.com/">
            <img src="/img/clients/codecrux-postfridays.png" alt="POSTFRIDAYS">
          </a>
        </div>

        <div style="padding-top:70px;">
          <h4>POSTFRIDAYS</h4>
          <p>
            One-stop-shop for that ‘fun loving’ part of you that comes alive on weekends. You can choose and book instantly from a curated list of tours, activities, workshops and skill building sessions available from a trustworthy network of experts.
          </p>
          <br>
          <p class="pf-links">
            <a href="http://postfridays.com/" class="btn-primary-link" target="_blank">Visit Website<i class="fa fa-long-arrow-right fa-right"></i></a>
          </p>
        </div>

        <div class="portfolio-item">
          <a target="_blank" class="image" href="http://1701.in/">
            <img src="/img/clients/1701-codecrux.png" alt="1701-codecrux">
          </a>
        </div>

        <div style="padding-top:70px;">
          <h4>1701.in</h4>
          <p>
            For Ashwin and Karishma, 1701 will always be a passion project guided by the philosophy of progress through failure. They’ve pondered hard and enjoyed healthy spats about what luxury means to them. While they always knew it had little to do with high prices, today, after much trial and error, they’re working harder at refining this and embracing a few gray hairs in the process.
          </p> <br>
          <p class="pf-links">
            <!-- <a href="http://1701.in/#stories" class="btn-primary-link" target="_blank">Visit Website<i class="fa fa-long-arrow-right fa-right"></i></a> -->
          </p>
        </div>

        <div class="portfolio-item">
          <a target="_blank" class="image" href="http://www.codeletics.com/">
            <img src="/img/clients/codecrux-codeletics.png" alt="CODELETICS">
          </a>
        </div>

        <div style="padding-top:70px;">
          <h4>CODELETICS</h4>
          <p>
            Codeletics has been built by a group of friends who are passionate about teaching the current generation of school children to think logically and to be able to apply that logic to solving problems, now and in their futures.
          </p>
          <br>
          <p class="pf-links">
            <a href="http://www.codeletics.com/" class="btn-primary-link" target="_blank">Visit Website<i class="fa fa-long-arrow-right fa-right"></i></a>
          </p>
        </div>

        <div class="portfolio-item">
          <a target="_blank" class="image" href="http://exploreout.in/">
            <img src="/img/clients/exploreout-codecrux.png" alt="exploreout">
          </a>
        </div>

        <div style="padding-top:70px;">
          <h4>EXPLOREOUT</h4>
          <p>
            A path breaking and innovative platform where the explorer meets adventure , giving adrenaline junkies and nature addicts alike, a chance to come together and enjoy a journey full of exhilarating experiences.
          </p> <br>
          <p class="pf-links">
            <a href="http://exploreout.in/" class="btn-primary-link" target="_blank">Visit Website<i class="fa fa-long-arrow-right fa-right"></i></a>
          </p>
        </div>

        <!-- <div class="portfolio-item">
          <a target="_blank" class="image" href="https://www.hiredgrad.com">
            <img src="/img/clients/codecrux-hiredgrad.png" alt="HIREDGRAD">
          </a>
        </div>

        <div style="padding-top:70px;">
          <h4>HIREDGRAD</h4>
          <p>
            HiredGrad helps you grow, and provide incredible career value to the members, by connecting you with top, fast-growing companies that are typically hard to reach.
          </p>
          <br>
          <p class="pf-links">
            <a href="https://www.hiredgrad.com" class="btn-primary-link" target="_blank">Visit Website<i class="fa fa-long-arrow-right fa-right"></i>
            </a>
          </p>
        </div>
 -->

        <!-- <div class="portfolio-item">
          <a target="_blank" class="image" href="http://teepublic.com/">
            <img src="/img/clients/codecrux-teepublic.png" alt="TEEPUBLIC">
          </a>
          <div class="portfolio-item-info">
            <h4>TEEPUBLIC</h4>
          </div>
        </div>

        <div class="portfolio-item">
          <a target="_blank" class="image" href="http://minibardelivery.com/">
            <img src="/img/clients/codecrux-minibar.png" alt="MINIBAR">
          </a>
          <div class="portfolio-item-info">
            <h4>MINIBAR</h4>
          </div>
        </div> -->

      </div>

      <br>
      <div class="text-center">
        <a href="/portfolio" class="btn btn-g">Explore More  &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
      </div>

    </div>
  </section>


  {% include /contact.html %}
