---
layout: landing-page
---
<!-- Header -->
<div id="myCarousel" class="carousel slide banner-carousel" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <br>
      <img src="/img/home/how-to-build-whatsapp-bot.png" alt="how to build whatsapp bot">
      <div class="carousel-caption mb-150">
        <!-- <h1>Black Friday Sale</h1> -->
        <!-- <p class="intro-sub-title">Get 20 hours of FREE TRIAL on every developer you hire. <a href="/Black-friday/">Know More..</a></p> -->
        
      </div>
    </div>

    <div class="item">
      <img src="/img/home/agile-software-development-agency.jpg" alt="Agile Software Development Agency">
      <div class="carousel-caption mb-150">
        <h1>Agile Software Development Agency</h1>
        <p class="intro-sub-title">We are experts at building digital products</p>
      </div>
    </div>

    <div class="item">
      <img src="/img/home/codecrux-banner-10.jpg" alt="Chicago">
      <div class="carousel-caption mb-150">
        <h1>We Build Quality Softwares</h1>
        <p class="intro-sub-title">Innovative, Quality & On-time</p>
      </div>
    </div>

    <div class="item">
      <img src="/img/home/codecrux-banner-2.jpg" alt="New york">
      <div class="carousel-caption mb-150">
        <h1>We are your remote  team</h1>
        <p class="intro-sub-title">Reliable, Talented & Smart</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </a>
</div>

<!-- <section class="banner">
  <div class="intro-text">
    <h1 class="intro-heading"><div class="intro-lead-in">We Create</div>Smart, Data-Driven and Outcome focussed Products</h1>
    <div class="intro-sub-text">
      <p class="for-text">for</p>
      <ul class="intro-sub-list">
        <li>Startups</li>
        <li>High Growth</li>
        <li>Enterprises</li>
      </ul>
    </div>
    <a href="#contact" class="page-scroll btn btn-know-more">Contact Us  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right fa-lg"></i></a>
  </div>
</section> -->


<div class="clearfix"></div>
{% include /technology.html %} 
<div class="container">
  <hr class="pf-item-hr">
</div>

{% include /what-we-do.html %}

<section id="focus-areas" class="features-wraper" style="padding: 1px !important;">
<div class="features-wraper-head">
  <div class="section-heading">
    <h2>Industries we've worked</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
    </div>
    <img src="/img/home/codecrux-product-industries.png" alt="codecrux product industries" width="100%" style="margin-top:-60px;" />
  </div>
</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="portfolio-wrap">
  <br>
  <div class="section-heading">

    <h2>Our Clients</h2><br>
    <center><p>We've helped organizations across industries leverage the web and mobile for their business goals.</p></center>
  </div>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/yaxis.jpg"  alt="Y-Axis" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/novartis.png"  alt="novartis" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/comakeit.jpg"  alt="ComakeIT" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/tech-mahindre.jpg"  alt="Tech Mahindra" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/hclub.jpg"  alt="Hclub" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/barknlounge.jpg"  alt="Barknlounge" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/hiredgrad.jpg"  alt="Hiredgrad" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/zaggle.jpg"  alt="Zaggle" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/auzmor.png"  alt="auzmor" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/maverick.jpg"  alt="Maverick" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/cantileverlabs.png"  alt="cantileverlabs" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/1dossier.png"  alt="1dossier" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/apposite.png"  alt="apposite" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/teepublic.png"  alt="teepublic" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/proarch.png"  alt="proarch" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/predera.png"  alt="predera" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/minibar.png"  alt="minibar" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/migrocer.png"  alt="migrocer" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/dbmtgroup.png"  alt="dbmtgroup" class="client-logo"></div>
    <div class="col-sm-3 col-xs-6"><img src="/img/clients/university-of-hyderabad.jpg"  alt="university of hyderabad" class="client-logo"></div>
  </div>
</div>
</section>


<div class="module-border-wrap">
  <div class="module">
    {% include /testimonial.html %}
  </div>
</div>

{% include /contact.html %}
