---
layout: default
title: Apply for CodeCrux Jobs, send resume to jyothi@codecrux.com
description:  PHP Developer, Develop, record, and maintain cutting edge web-based PHP applications job at CodeCrux Web Technologies Pvt Ltd
keywords: php jobs, php fullstack jobs, Lavarel job, php hyderabad job, , codecrux jobs
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">PHP (Lavarel) Full Stack Developer (Immediate Joiners will be preferred)
        <br>
        <small>Work Location - From Office ( Hyderabad )</small><br>
        <small>Experience - 2 to 5 years</small><br>
        <small>Reports to - CTO</small><br>
      </h1>
     <div><hr class="pf-item-hr"><br></div>

      <p><b>Duties and Responsibilities :</b> </p>
        
        <ol>
          <p>1. Develop, record, and maintain cutting edge web-based PHP applications on portal plus
            premium service platforms</p>
          <p>2. Build innovative, state-of-the-art applications and collaborate with the User Experience (UX)
            team</p>
          <p>3. Ensure HTML, CSS, and shared JavaScript is valid and consistent across applications</p>
          <p>4. Prepare and maintain all applications utilizing standard development tools</p>
          <p>5. Prepare and maintain all applications utilizing standard development tools</p>
          <p>6. Utilize backend data services and contribute to increasing existing data services API</p>
          <p>7. Lead the entire web application development life cycle right from concept stage to delivery and
            post-launch support</p>
          <p>8. Convey effectively with all task progress, evaluations, suggestions, schedules along with
            technical and process issues</p>
          <p>9. Document the development process, architecture, and standard components</p>
    </ol>


    <br>
    <br>
    
    <p><b>Requirements :</b> </p>
    <ol>
          <p>1. Previous working experience as a PHP / Laravel developer for (2) years (s)</p>
          <p>2. In-depth knowledge of object-oriented PHP and Laravel 5 PHP Framework</p>
          <p>3. Hands-on experience with SQL schema design, SOLID principles, REST API design </p>
          <p>4. Software testing (PHPUnit, PHPSpec, Behat)</p>
          <p>5. MySQL profiling and query optimization</p>
          <p>6. Creative and efficient problem solver</p>
          <p>7. Holding experience of 2 to 5 years
        </p>

        </ol>

        

        

    </div><br><br>

    {% include /how-to-apply.html %}

  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

{% include /thub.html %}
