---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Golang, Experience with creating APIs / microservices, experience working on Linux Environment job at CodeCrux Web Technologies Pvt Ltd.
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs, BD jobs, content writer jobs, content writer, BD, Business Development, Job, Sales, Services, hiring, career, opportunities, start-up, startup, good environment, smart team, smart people, best place
---

<section class="container careers-single sm-padding">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">Golang Software Engineer at CodeCrux <br>
        <small>Hyderabad  - (Full Time)</small><br>
      </h1>
      <div><hr class="pf-item-hr"><br></div>
      <br>
      <p><b>Job Description:</b> We are looking for someone who is passionate about software engineering, REST, API best practice, enjoys sharing knowledge and working closely with development teams, and values testing and reproducibility, as well as figuring out the best way to build systems that are maintainable and easy to comprehend.<br><br>

      <b>Skills & Experience Required:</b><br>
      1. Golang, Experience with creating APIs / microservices, experience working on Linux Environment <br>
      2. Solid knowledge and experience of using Kubernetes and Docker on production environment over AWS/GCP/Azure etc.<br>
      3. Working within a cross-functional agile product team to deliver incremental changes in a continuous delivery environment.<br>
      4. Ability to write self-documenting code using a test and behavior-driven approach, that adheres to SOLID principles.<br><br>

      <b>Job Location:</b>  Gachibowli, Hyderabad, India<br>
      <b>HOW TO APPLY</b><br>
      Send your latest resume at shyam@codecrux.com with following<br>
      Total Exp -<br>
      Relevant Exp. -<br>
      Official Notice Period -<br>
      Current CTC -<br>
      Expected CTC -<br>
    </p>
    </div>
    <br><br>

    

    {% include /how-to-apply.html %}
  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

<br>
<br>
<center>
  <img src="../../img/thub/thub-office-india.jpg" alt="thub-office" class="img-fluid" width="300">
  <img src="../../img/thub/T-Hub-Space.jpg" alt="thub-office" class="img-fluid" width="300">
  <img src="../../img/thub/thub-office.jpg" alt="thub-office" class="img-fluid" width="300">
  <img src="../../img/thub/t-hub-hyderabad.jpg" alt="thub-office" class="img-fluid" width="300">
</center>

<br><br>
