---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Ruby on Rails Developer, Business Development Executive and content creators and marketing jobs at CodeCrux Web Technologies Pvt Ltd
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs
---

<section class="container careers-single sm-padding">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">TeleCaller <br>
        <small>Hyderabad  - (Full Time)</small>
      </h1>
      <div><hr class="pf-item-hr"><br></div>
      <p><b>Job Description:</b>  We are looking for an enthusiastic and immediate joiners Female Tele caller for our company. <br>
            Handle customer's inbound and outbound calls. Solving queries, telling them about products/offers/services <br>
            Follow communication “scripts” when handling different topics <br>
            Identify customers’ needs, clarify information, research every issue and provide solutions and/or alternatives.
</p>
        <h3>Responsibilities:</h3>
        <ol>
          <p>1.  Contacting potential or existing customers to inform them about a product or service</p>
          <p>2.  Answering questions about products or the company Keep records of calls and sales and note useful information</p>
          <p>3. Asking questions to understand customer requirements and close sales</p>
          <p>4. Enter and update customer information in the database</p>
          <p>5. Take and process orders in an accurate manner Handle grievances to preserve the company's reputation</p>
        </ol>

         <h3>Requirement</h3>
        <ol>
          <p>1.  Proven experience as telesales representative or other sales/customer service role</p>
          <p>2.  Ability to learn about products and services and describe/explain them to prospects</p>
          <p>3. Excellent Knowledge of English. Excellent communication and interpersonal skills</p>
        </ol>
    </div><br><br>

    
    {% include /how-to-apply.html %}
  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

<br>
<br>
<center>
  <img src="../../img/thub/thub-office-india.jpg" alt="thub-office" class="img-fluid" width="300">
  <img src="../../img/thub/T-Hub-Space.jpg" alt="thub-office" class="img-fluid" width="300">
  <img src="../../img/thub/thub-office.jpg" alt="thub-office" class="img-fluid" width="300">
  <img src="../../img/thub/t-hub-hyderabad.jpg" alt="thub-office" class="img-fluid" width="300">
</center>

<br><br>