---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Ruby on Rails Developer, Business Development Executive and content writer and marketing jobs at CodeCrux Web Technologies Pvt Ltd.
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs, BD jobs, content writer jobs, content writer, BD, Business Development, Job, Sales, Services, hiring, career, opportunities, start-up, startup, good environment, smart team, smart people, best place
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">DevOps Engineer<br>
        <small> Hyderabad or remote (with appropriate candidate)</small><br>
      </h1>
      <h3>Job Description:</h3>
      <p>We are looking for a DevOps Engineer to help us build functional systems that improve customer experience.DevOps Engineer responsibilities include deploying product updates, identifying production issues and implementing integrations that meet customer needs. If you have a solid background in software engineering and are familiar with Ruby or Python, we’d like to meet you.</p>
      <p>Experience:-  2-5 years </p>
      <p>Full TIme</p>
      <h3>Skills / Requirement:</h3>
      <p>1. Linux administration, Bash scripting, Git</p>
      <p>2. Ansible or Terraform experience</p>
      <p>3. Docker and Kubernetes experience (bonus)</p>
      <p>4. CI/CD pipeline with Jenkins or other tools in industry</p>
      <p>5. Troubleshooting and managing Kubernetes clusters on On-prem or in Cloud ( k3s or AWS EKS )</p>
      
      <h3>Tech Stack:</h3>
      <p>1. Front-end: ReactJS</p>
      <p>2. Backend: Golang, Microservices, Restful APIs</p>
      <p>3. Infra: On-prem k3s based cluster, containers, Ansible</p>
      
      
    </div>
    <br><br>

    {% include /how-to-apply.html %}


    <div class="col-xs-12 col-sm-12"><br><br><hr class="pf-item-hr"><br><br></div>

  </div>
</section>
{% include /technology.html %}

{% include /thub.html %}
