<section>
  <div class="container">
    <h2 class="text-center font-30 mar-t1">Recent Articles</h2>
    <div class="row-1 mar-t2">

      {% assign blogs = site.posts %} {% for post in blogs limit:3 %}

      <div class="col-md-4">
          <a href="{{ site.baseurl }}{{ post.url }}">
          <div class="article-col">
            <img src="{{ post.image }}" alt="{{ post.title }}" class="blog-home-image"/>

            <div class="article-text">
              <span class="font-16">{{ post.title }}</span>
              <div class="mar-bottom-1">
                <p style="font-size: 14px !important;">{{ post.description}}...</p>
                <span class="read-more-link"
                  >Continue Reading <i class="fa fa-chevron-right"></i
                ></span>
              </div>
            </div>
          </div>
        </a>
      </div>

    {% endfor %}
      
    </div>
  </div>
</section>




