<!-- <div id="portfolio-carousel" class="owl-carousel">

        <div class="portfolio-item">
          <a target="_blank" class="image" href="https://maverick.ai/">
            <img src="/img/clients/codecrux-maverick.png" alt="maverick">
          </a>
        </div>

        <div style="padding-top:70px;">
          <h4>MAVERICK</h4>
          <p>
            Hassle-free, Risk-free B2B Lead Gen System.
          </p>
          <br>
          <p class="pf-links">
            <a href="https://maverick.ai/" class="btn-primary-link" target="_blank">Visit Website<i class="fa fa-long-arrow-right fa-right"></i></a>
          </p>
        </div>

        


        <div class="portfolio-item">
          <a target="_blank" class="image" href="https://hclub.herokuapp.com/">
            <img src="/img/clients/hclub-codecrux.png" alt="Hclub">
          </a>
        </div>

        <div style="padding-top:70px;">
          <h4>HClub</h4>
          <p>
            Hclub medical services Pvt Ltd. is an aggregator of health care services that is committed to the cause of building a community by way of improving the quality of life, health and well-being in India.
          </p>
          <br>
          <p class="pf-links">
            <a href="https://hclub.herokuapp.com/" class="btn-primary-link" target="_blank">Visit Website<i class="fa fa-long-arrow-right fa-right"></i></a>
          </p>
        </div>


        <div class="portfolio-item">
          <a target="_blank" class="image" href="http://barknlounge.com">
            <img src="/img/clients/codecrux-barknlounge.png" alt="BARKNLOUNGE">
          </a>
        </div>

        <div style="padding-top:70px;">
          <h4>BARKNLOUNGE</h4>
          <p>
            A pet care and accommodation booking system <br>
            > They offer customized care for dogs with special needs and senior dogs. <br>
            > They high ratio of staff to dogs makes sure no dog goes un-attended & all-day supervised play during daycare
          </p>
          <br>
          <p class="pf-links">
            <a href="http://barknlounge.com" class="btn-primary-link" target="_blank">Visit Website<i class="fa fa-long-arrow-right fa-right"></i></a>
          </p>
        </div>

        <div class="portfolio-item">
          <a target="_blank" class="image" href="https://www.hiredgrad.com">
            <img src="/img/clients/codecrux-hiredgrad.png" alt="hiredgrad">
          </a>
        </div>

        <div style="padding-top:70px;">
          <h4>HIREDGRAD</h4>
          <p>
            HiredGrad helps you grow, and provide incredible career value to the members, by connecting you with top, fast-growing companies that are typically hard to reach.
          </p>
          <br>
          <p class="pf-links">
            <a href="https://www.hiredgrad.com" class="btn-primary-link" target="_blank">Visit Website<i class="fa fa-long-arrow-right fa-right"></i>
            </a>
          </p>
        </div>

      </div> -->
