  <div class="col-md-8 col-md-offset-2">
    <hr>
    <center>
      <script src="//www.powr.io/powr.js?external-type=html"></script>
      <div class="powr-comments" id="4419f936_1515155986"></div>
    </center>
    <br>
    <p>&nbsp;</p>
    <center>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_whatsapp_large' displayText='WhatsApp'></span>
      <span class='st_sharethis_large' displayText='ShareThis'></span>
    </center>
    <p>&nbsp;</p>
    <div class="clearfix"></div>
  </div>
  <br>

