

<br>
<br>
<br>
<br>
<section  class="contact-wraper" id="contact">
  <div class="container">
    <div class="row" style="">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>Contact CodeCrux</h2>
          <p>
            Drop us your email, We will connect you with in 4 hours.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-5" style="text-align: left;">
            <style>
  .img-frame {
    border: none;
    /* Optional: Add rounded corners */
    border-radius: 8px;
  }
</style>

<iframe 
  width="400" 
  height="400" 
  target="_parent" 
  src="https://app.blinkcrm.in/forms/02c2ae8b-4a67-4c19-ab91-eeb08d0f5ad8?output=embed" 
  class="img-frame">
</iframe>

          </div>

          <div class="col-sm-6">
            <address class="contact-address">
              <p>
                <h2>US Office</h2>
                5208 Cumberland Dr,<br>
                Roseville,United States - 95747<br>
                Email: contact@codecrux.com<br>

                <h2>Canada Office</h2>
                #602-2232 Douglas Road,<br>
                Burnaby, Vancouver, Canada - V5C0G9<br>
                Email: contact@codecrux.com<br>

                <h2>India Office</h2>
                T-Hub 2.0 | Technology Hub 2.0 <br>
                1st Floor, 20, Inorbit Mall Road, Vittal Rao Nagar,<br>
                Madhapur, Hyderabad, Telangana 500081<br>
                Email: contact@codecrux.com<br>
                
              </p>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







