<!-- <br>
<br>
<br>
<br>
<br>
<br> -->

{% include /scta.html %}

<section  class="contact-wraper" id="contact">
  <div class="container">
    <div class="row" style="">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>Contact CodeCrux</h2>
          <p>
            Drop us your email, We will connect you with in 4 hours.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-5" style="text-align: left;">
            <div class="engage-hub-form-embed" id="eh_form_5517012111458304" data-id="5517012111458304"> </div>
          </div>

          <div class="col-sm-6">
            <address class="contact-address">
              <p>
              <h2>US Office</h2>
              3975 Freedom Cir,<br>
              Suite 800,Santa Clara,<br>
              California, United States 95054<br>
              Email: contact@codecrux.com<br>
              Phone : +1 (916) 620 9556<br><br>


              <h2>Canada Office</h2>
              #602-2232 Douglas Road,<br>
              Burnaby, Vancouver, Canada - V5C0G9<br>
              Email: contact@codecrux.com<br>
              Phone : +1 (778) 681 9440<br><br>


              <h2>India Office</h2>
              3rd Floor, Catalyst Building, THub<br>
              IIIT Hyderabad Campus,<br>
              Gachibowli, Hyderabad, TS, 500032<br>
              Email: contact@codecrux.com<br>
              Phone: +91 868-846-8400<br><br>
              </p>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







