<div class="enquiry-wraper">
  <div class="container">
    <h2 class="en-head">Get in touch with CodeCrux team</h2>
    <center>
    <p>
      We would love to contribute our expertise and insights to your product. <br>
      Do you want to know more about our services, have any questions, or any suggestions/feedback?
    </p>
  </center>
  <br>
  <br>

    <div class="row">

      <div class="col-md-6">
        <form name="sentMessage" id="contactForm" data-toggle="validator">
          <div class="contact-form">
            <div class="form-group">
              <input class="form-control" type="text"  placeholder="Full Name *" id="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <input class="form-control" type="email" placeholder="Email *"  id="email" required data-validation-required-message="Please enter your email address.">
                </div>
                <div class="col-sm-6">
                  <input class="form-control" type="tel"  placeholder="Phone Number (optional)" id="phone">
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control"  rows="4" cols="40" placeholder="Tell us about your project" id="message"></textarea>
            </div>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Send Message</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        <ul class="steps">
          <li>We'll contact you within 24 hrs with pricing info and next steps</li>
          <li>We currently do Ruby, Ruby on rails development, iOS, iPhone and iPad apps, and Android application development</li>
          <li>Need us to sign an NDA? No problem, just let us know and we'll take it from there</li>
          <li>Once we confirm that we're a good fit for your project, we can move into the 24-hour test project to give you an understanding of our skills and process</li>
          <li>No obligation, when you're ready to grow, we're ready for you!</li>
        </ul>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
// $('#contactForm').validator()
$(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
