<div class="footer-links">
  <div class="container">
    <div class="row">
    
      <div class="col-sm-2 col-xs-12">
        <b>COMPANY</b>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/jobs">Join our team</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/success-stories">Success Stories</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="col-sm-3 col-xs-12">
        <b>SOFTWARE SERVICES</b>
        <ul>
          <li><a href="/ui-ux-design">UI & UX Design</a></li>
          <li><a href="/ruby-on-rails-development">Web Application Development</a></li>
          <li><a href="/ruby-on-rails-development">Ruby on rails Development</a></li>
          <li><a href="/mobile-apps-development">Mobile application development</a></li>
          <li><a href="/android-applications">Android application development</a></li>
          <li><a href="/ios-mobile-app-development"> iOS moblie app development</a></li>
          <li><a href="/react-native-app-development"> React Native App Development</a></li>
          <li><a href="/devops-as-a-service"> DevOps as a Service </a></li>
          <li><a href="/kubernetes">Kubernetes</a></li>
          <li><a href="/open-source-customization">Open Source Customization</a></li>
        </ul>
      </div>

       <div class="col-sm-3 col-xs-12">
        <b>HIRE REMOTE TEAM</b>
        <ul>
          <li><a href="/ui-ux-design">UI & UX Design</a></li>
          <li><a href="/ruby-on-rails-development">Web Application Development</a></li>
          <li><a href="/ruby-on-rails-development">Ruby on rails Development</a></li>
          <li><a href="/mobile-apps-development">Mobile application development</a></li>
          <li><a href="/android-applications">Android application development</a></li>
          <li><a href="/ios-mobile-app-development"> iOS moblie app development</a></li>
          <li><a href="/react-native-app-development"> React Native App Development</a></li>
          <li><a href="/devops-as-a-service"> DevOps as a Service </a></li>
          <li><a href="/kubernetes">Kubernetes</a></li>
          <li><a href="/open-source-customization">Open Source Customization</a></li>
        </ul>
      </div>


      <div class="col-sm-4 col-xs-6">
        <b>SOLUTIONS</b>
        <ul>
       <!--    
          <li><a href="/custom-crm-development">Custom CRM development</a></li>
          <li><a href="/ecommerce-website-and-mobile-app">Ecommerce website and mobile app</a></li>
          <li><a href="/kennel-management-software">Kennel management software</a></li>
          <li><a href="/job-portal-development">Job portal development</a></li>
          <li><a href="/waste-management-software-applications">Waste management software applications</a></li> -->

          <li><a href="/recruitment-agencies-software-development">Recruitment agencies software development</a></li>
        <li><a href="/sales-crm-software-for-small-business">Sales crm software for small business</a></li> 

        <li><a href="/real-estate-rental-property-management-software">Real estate rental property management</a></li>
        <li><a href="/real-estate-crm-software">Real estate CRM software</a></li>
        <li><a href="/health-care-delivery-system">Health Care platform</a></li>

        <li><a href="/alumni-network-website-development">Alumni network website development</a></li>
        <li><a href="/private-social-networking-application-development">Private social networking application development</a></li>
        <li><a href="/audio-and-video-conferencing-softwares">Audio and video conferencing softwares</a></li>
        
        <li><a href="/school-managemnt-softwares-and-mobile-app">School Management Software</a></li>
        <li><a href="/learning-management-system-with-video-conferencing">Learning management system with video conferencing</a></li>


          <!-- <li><a href="/online-hotel-booking-system-like-oyo-rooms">Online hotel booking system like oyo rooms</a></li>
        <li><a href="/outdoor-adventure-event-booking-platform">Outdoor adventure event booking platform</a></li>
        <li><a href="/car-service-mobile-application">Car service mobile application</a></li>
        <li><a href="/society-management-saas-application">Society management SaaS application</a></li>
        <li><a href="/onine-doctor-appointment-with-live-video-mobile-app">Onine Doctor appointment with live video mobile app</a></li>
        <li><a href="/clinic-hospital-management-software">Clinic/Hospital Management software</a></li>

        <li><a href="/onile-grocery-store-and-delivery-mobile-app">Online grocery store and delivery mobile app</a></li>
        <li><a href="/online-food-delivery-app-development">Online food delivery app development</a></li>
        <li><a href="/medicine-pharmacy-delivery-mobile-app">Medicine pharmacy delivery mobile app</a></li>
        <li><a href="/on-demand-courier-parcel-delivery-application">On-demand courier parcel delivery application</a></li>
        <li><a href="/driver-tracking-solution">Driver tracking solution</a></li>
        <li><a href="/online-car-rental-platform">Online car rental platform</a></li>
        <li><a href="/Black-friday/index.html">Black Friday</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-inline social-buttons pull-left">
          <li><a href="https://www.linkedin.com/company/codecrux" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="http://twitter.com/codecrux" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="http://github.com/codecrux" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/codecrux/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
       <div class="col-sm-8">
          <span class="copyright pull-left">&copy; CodeCrux Web technologies(p) Ltd.</span>
      </div>
    </div>
  </div>
</footer>




<!-- Start of Async Drift Code -->
<!-- <script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('5m5akmrikvr2');
</script> -->
<!-- End of Async Drift Code -->

<!-- {% include /segment.html %} -->

<!-- <script id="_agile_min_js" async type="text/javascript" src="https://d1gwclp1pmzk26.cloudfront.net/agile/agile-cloud.js"> </script>
<script type="text/javascript" >
var Agile_API = Agile_API || {}; Agile_API.on_after_load = function(){
_agile.set_account('eb044p672171id6358s7265ffe', 'codecrux');
_agile.track_page_view();
_agile_execute_web_rules();};
</script>
 -->


<script type="text/javascript" >var EhAPI = EhAPI || {}; EhAPI.after_load = function(){EhAPI.set_account('ejjc8q795rsvougoveemlm4354', 'codecrux');EhAPI.execute('rules');};(function(d,s,f) {var sc=document.createElement(s);sc.type='text/javascript';sc.async=true;sc.src=f;var m=document.getElementsByTagName(s)[0];m.parentNode.insertBefore(sc,m);   })(document, 'script', '//d2p078bqz5urf7.cloudfront.net/jsapi/ehform.js');</script>


<script type="text/javascript" >
var EhAPI = EhAPI || {}; EhAPI.after_load = function(){
EhAPI.set_account('ejjc8q795rsvougoveemlm4354', 'codecrux');
EhAPI.execute('rules');};(function(d,s,f) {
var sc=document.createElement(s);sc.type='text/javascript';
sc.async=true;sc.src=f;var m=document.getElementsByTagName(s)[0];
m.parentNode.insertBefore(sc,m);
})(document, 'script', '//d2p078bqz5urf7.cloudfront.net/jsapi/ehform.js');
</script>
