<div class="footer-links">
  <div class="container">
    <div class="row">

      <div class="col-sm-5 col-xs-12">
        <b>About CodeCrux</b>
        <ul>
          <li>
            We are team of IIIT Hyderabad graduates, started CodeCrux Web Technologies(P) Ltd. in T-HUB, Hyderabad, India
            <p><a href="/about" class="read-link block-m">Read More <i class="fa fa-long-arrow-right fa-lg"></i></a></p>
          </li>
        </ul>
      </div>

      <div class="col-sm-3 col-xs-6">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/careers">Career</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="col-sm-4 col-xs-12">
        <b>Software Services</b>
        <ul>
          <li><a href="/ruby-on-rails-development">Ruby on rails development</a></li>
          <li><a href="/ui-ux-design">UI & UX Design</a></li>
          <li><a href="/mobile-development">Mobile application development</a></li>
          <li><a href="/kubernetes/">DevOps Engineering</a></li>
          <li><a href="/open-source-customization">Open Source Customization</a></li>
          <li><a href="/kubernetes">Kubernetes</a></li>
        </ul>
      </div>

      <!-- <div class="col-sm-3 col-xs-6">
        <b>Product Development</b>
        <ul>
          <li><a href="/process">Outcome focused Product</a></li>
          <li><a href="/product-engineering">Product Engineering</a></li>
          <li><a href="/data-practices">Data Practices</a></li>
          <li><a href="/api-development">API Enablement</a></li>
        </ul>
      </div> -->


    </div>


  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <span class="copyright pull-left">Copyright &copy; CodeCrux Web technologies(p) Ltd.</span>
      </div>

      <div class="col-sm-6">
        <ul class="list-inline social-buttons pull-right">
          <li><a href="/sitemap.html" title="Sitemap"><i class="fa fa-sitemap" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/company/codecrux" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="http://twitter.com/codecrux" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="http://github.com/codecrux" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/codecrux/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Google Tracking -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-59848421-1', 'auto');
  ga('send', 'pageview');
</script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "6c07dae9-e82b-4eaf-a2c6-558a4045e067", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = '5gxdn2jq8w';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
