<div class="footer-links">
  <div class="container-fluid2">
    <div class="footer-rows">
     
     
        <div class="footer-mob-align first-footer-link">
          <b class="footer-list-headings">CODECRUX</b>
          <ul>
            <li class="p10 text-left"><a href="/about">About</a></li>
            <li class="p10 text-left"><a href="/portfolio">Portfolio</a></li>
            <li class="p10 text-left"><a href="/services">Services</a></li>
            <li class="p10 text-left"><a href="/jobs">Join our team</a></li>
            <li class="p10 text-left"><a href="/blog">Blog</a></li>
            <li class="p10 text-left"><a href="/contact">Contact</a></li>
          </ul>

      
        </div>


     

      <div class=" footer-mob-align third-footer-link">
        <b class="footer-list-headings">SOFTWARE SERVICES</b>
        <ul>
          <li class="row"><a href="/ui-ux-design">UI & UX Design</a></li>
          <li class="row"><a href="/ruby-on-rails-development" >Web Application Development</a></li>
          <li class="row"><a href="/ruby-on-rails-development" >Ruby on rails Development</a></li>
          <li class="row"><a href="/mobile-apps-development" >Mobile application development</a></li>
          <li class="row"><a href="/android-applications" >Android application development</a></li>
          <li class="row"><a href="/ios-mobile-app-development" >iOS moblie app development</a></li>
          <li class="row"><a href="/react-native-app-development" >React Native App Development</a></li>
          <li class="row"><a href="/devops-as-a-service" >DevOps as a Service </a></li>
          <li class="row"><a href="/kubernetes" >Kubernetes</a></li>
          <li class="row"><a href="/open-source-customization" >Open Source Customization</a></li>
        </ul>
      </div>

       <div class=" footer-mob-align fourth-footer-link">
        <b class="footer-list-headings">HIRE REMOTE TEAM</b>
        <ul>
          <li class="row"> <a href="/hire-ui-ux-designer/" >Hire UI & UX Design</a></li>
          <li class="row"> <a href="/hire-ruby-on-rails-developer" >Hire Ruby on rails developer</a></li>
          <li class="row"> <a href="/hire-android-developer" >Hire Android app developer</a></li>
          <li class="row"> <a href="/hire-mobile-app-developer" >Hire Moblie app developer</a></li>
          <li class="row"> <a href="/hire-app-developer" >Hire App developer</a></li>
          <li class="row"> <a href="/hire-web-developer" >Hire Web developer</a></li>

        </ul>
      </div>


      <div class="footer-mob-align fifth-footer-link">
        <b class="footer-list-headings">SOLUTIONS</b>
        <ul>
       <!--    
          <li><a href="/custom-crm-development">Custom CRM development</a></li>
          <li><a href="/ecommerce-website-and-mobile-app">Ecommerce website and mobile app</a></li>
          <li><a href="/kennel-management-software">Kennel management software</a></li>
          <li><a href="/job-portal-development">Job portal development</a></li>
          <li><a href="/waste-management-software-applications">Waste management software applications</a></li> -->

        <li class="row"><a href="/recruitment-agencies-software-development">Recruitment agencies software development</a></li>
        <li class="row"><a href="/sales-crm-software-for-small-business">Sales crm software for small business</a></li> 

        <li class="row"><a href="/real-estate-rental-property-management-software" >Real estate rental property management</a></li>
        <li class="row"><a href="/real-estate-crm-software" >Real estate CRM software</a></li>
        <li class="row"><a href="/health-care-delivery-system" >Health Care platform</a></li>

        <!-- <li class="row"><a href="/alumni-network-website-development" >Alumni network website development</a></li>
        <li class="row"><a href="/private-social-networking-application-development" >Private social networking application development</a></li>
        <li class="row"><a href="/audio-and-video-conferencing-softwares" >Audio and video conferencing softwares</a></li>
         -->
        <li class="row"><a href="/school-managemnt-softwares-and-mobile-app" >School Management Software</a></li>
        <li class="row"><a href="/learning-management-system-with-video-conferencing" >Learning management system with video conferencing</a></li>


          <!-- <li><a href="/online-hotel-booking-system-like-oyo-rooms">Online hotel booking system like oyo rooms</a></li>
        <li><a href="/outdoor-adventure-event-booking-platform">Outdoor adventure event booking platform</a></li>
        <li><a href="/car-service-mobile-application">Car service mobile application</a></li>
        <li><a href="/society-management-saas-application">Society management SaaS application</a></li>
        <li><a href="/onine-doctor-appointment-with-live-video-mobile-app">Onine Doctor appointment with live video mobile app</a></li>
        <li><a href="/clinic-hospital-management-software">Clinic/Hospital Management software</a></li>

        <li><a href="/onile-grocery-store-and-delivery-mobile-app">Online grocery store and delivery mobile app</a></li>
        <li><a href="/online-food-delivery-app-development">Online food delivery app development</a></li>
        <li><a href="/medicine-pharmacy-delivery-mobile-app">Medicine pharmacy delivery mobile app</a></li>
        <li><a href="/on-demand-courier-parcel-delivery-application">On-demand courier parcel delivery application</a></li>
        <li><a href="/driver-tracking-solution">Driver tracking solution</a></li>
        <li><a href="/online-car-rental-platform">Online car rental platform</a></li>
        <li><a href="/Black-friday/index.html">Black Friday</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
       <div class="text-center">
          <span class="copyright pull-left">&copy; CodeCrux Web technologies(p) Ltd.
            <a href="/privacy-policy">Privacy Policy</a> | 
            <a href="/terms-and-conditions">Terms and Conditions</a> |
            <a href="/return-and-refund-policy">Return and refund policy</a> |
            <!-- <a href="https://razorpay.me/@codecrux" target="_blank">Payment</a> | -->
            <a href="/pricing">Pricing</a>
          </span>
      </div>
    </div>
  </div>
</footer>






<script type="text/javascript" >var EhAPI = EhAPI || {}; EhAPI.after_load = function(){EhAPI.set_account('ejjc8q795rsvougoveemlm4354', 'codecrux');EhAPI.execute('rules');};(function(d,s,f) {var sc=document.createElement(s);sc.type='text/javascript';sc.async=true;sc.src=f;var m=document.getElementsByTagName(s)[0];m.parentNode.insertBefore(sc,m);   })(document, 'script', '//d2p078bqz5urf7.cloudfront.net/jsapi/ehform.js');</script>


<script type="text/javascript" >
var EhAPI = EhAPI || {}; EhAPI.after_load = function(){
EhAPI.set_account('ejjc8q795rsvougoveemlm4354', 'codecrux');
EhAPI.execute('rules');};(function(d,s,f) {
var sc=document.createElement(s);sc.type='text/javascript';
sc.async=true;sc.src=f;var m=document.getElementsByTagName(s)[0];
m.parentNode.insertBefore(sc,m);
})(document, 'script', '//d2p078bqz5urf7.cloudfront.net/jsapi/ehform.js');
</script>
