<div class="navbar-header page-scroll">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand nav-logo" href="/">
    <span class="">
      <img src="/img/codecrux-logo.svg" alt="codecrux.com"  class="img-fluid img-thumbnail"/>
    </span>
  </a>
  <a href="/contact/" class="btn-rounded btn-g"> Contact Us </a>
  
</div>

<div class="collapse navbar-collapse nav-text" id="main-nav" style="border-bottom: 1px solid #eee;">
  <ul class="nav navbar-nav navbar-right">
    <li class="text-left"><a href="/about">ABOUT</a></li>
    <li class="text-left"><a href="/blog">BLOG</a></li>
    
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="p10 text-left"><a href="/ui-ux-design">UI & UX Design</a></li>
        <!-- <li class="p10 text-left"><a href="/web-application-development">Web Application Development</a></li> -->
        <li class="p10 text-left"><a href="/ruby-on-rails-development">Ruby on rails Development</a></li>
        <li class="p10 text-left"><a href="/mobile-apps-development">Mobile application development</a></li>
        <li class="p10 text-left"><a href="/android-applications">Android application development</a></li>
        <!-- <li class="p10 text-left"><a href="/ios-mobile-app-development">iOS moblie app development</a></li> -->
        <li class="p10 text-left"><a href="/react-native-app-development">React Native App Development</a></li>
        <li class="p10 text-left"><a href="/devops-as-a-service">DevOps as a Service </a></li>
        <li class="p10 text-left"><a href="/kubernetes">Kubernetes</a></li>
        <li class="p10 text-left"><a href="/open-source-customization">Open Source Customization</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">HIRE A DEVELOPER
      <span class="caret"></span></a>
      
      <ul class="dropdown-menu">
          <li class="p10 text-left"><a href="/hire-ui-ux-designer/">Hire UI & UX Design</a></li>
          <li class="p10 text-left"><a href="/hire-ruby-on-rails-developer">Hire Ruby on rails developer</a></li>
          <li class="p10 text-left"><a href="/hire-android-developer">Hire Android app developer</a></li>
          <li class="p10 text-left"><a href="/hire-mobile-app-developer">Hire Moblie app developer</a></li>
          <li class="p10 text-left"><a href="/hire-app-developer">Hire App developer</a></li>
          <li class="p10 text-left"><a href="/hire-web-developer">Hire Web developer</a></li>
      </ul>

    </li>


    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">COMPANY
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="p10 text-left"><a href="/about">About</a></li>
        <li class="p10 text-left"><a href="/portfolio">Portfolio</a></li>
        <li class="p10 text-left"><a href="/services">Services</a></li>
        <li class="p10 text-left"><a href="/jobs">Join our team</a></li>
        <li class="p10 text-left"><a href="/blog">Blog</a></li>
        <li class="p10 text-left"><a href="/contact">Contact</a></li>
      </ul>
    </li>
    <li class="text-left"><a href="/contact">CONTACT</a></li>
  </ul>
</div>
