<div class="navbar-header page-scroll">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand nav-logo" href="/">
    <span class="">
      <img src="/img/codecrux-logo.svg" alt="codecrux.com"  class="img-fluid img-thumbnail"/>
    </span>
  </a>
  <a href="/schedule-meeting/" class="btn-rounded btn-g">Schedule a Meeting</a>
  
</div>

<div class="collapse navbar-collapse nav-text" id="main-nav">
  <ul class="nav navbar-nav navbar-right">

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">SERVICES
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="p10 text-left"><a href="/ui-ux-design">&#62;UI & UX Design</a></li>
        <li class="p10 text-left"><a href="/web-application-development">&#62;Web Application Development</a></li>
        <li class="p10 text-left"><a href="/ruby-on-rails-development">&#62;Ruby on rails Development</a></li>
        <li class="p10 text-left"><a href="/mobile-apps-development">&#62;Mobile application development</a></li>
        <li class="p10 text-left"><a href="/android-applications">&#62;Android application development</a></li>
        <li class="p10 text-left"><a href="/ios-mobile-app-development">&#62;iOS moblie app development</a></li>
        <li class="p10 text-left"><a href="/react-native-app-development">&#62;React Native App Development</a></li>
        <li class="p10 text-left"><a href="/devops-as-a-service">&#62;DevOps as a Service </a></li>
        <li class="p10 text-left"><a href="/kubernetes">&#62;Kubernetes</a></li>
        <li class="p10 text-left"><a href="/open-source-customization">&#62;Open Source Customization</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">SOLUTIONS
      <span class="caret"></span></a>
      
      <ul class="dropdown-menu">
        <li class="p10 text-left"><a href="/custom-crm-development">&#62;Custom CRM development</a></li>
        <li class="p10 text-left"><a href="/ecommerce-website-and-mobile-app">&#62;Ecommerce website and mobile app</a></li>
        <li class="p10 text-left"><a href="/kennel-management-software">&#62;Kennel management software</a></li>
        <li class="p10 text-left"><a href="/job-portal-development">&#62;Job portal development</a></li>
        <li class="p10 text-left"><a href="/waste-management-software-applications">&#62;Waste management software applications</a></li>
      </ul>

    </li>


    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">HIRE A DEVELOPER
      <span class="caret"></span></a>
      
      <ul class="dropdown-menu">
       
          <li class="p10 text-left"><a href="/hire-ui-ux-designer/">&#62;Hire UI & UX Design</a></li>
          <li class="p10 text-left"><a href="/hire-ruby-on-rails-developer">&#62;Hire Ruby on rails developer</a></li>
          <li class="p10 text-left"><a href="/hire-android-developer">&#62;Hire Android app developer</a></li>
          <li class="p10 text-left"><a href="/hire-mobile-app-developer">&#62;Hire Moblie app developer</a></li>
          <li class="p10 text-left"><a href="/hire-app-developer">&#62;Hire App developer</a></li>
          <li class="p10 text-left"><a href="/hire-web-developer">&#62;Hire Web developer</a></li>

      
      </ul>

    </li>



    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">SUCCESS STORIES
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="p10 text-left"><a href="/success-stories">&#62;Success Stories</a></li>
        <li class="p10 text-left"><a href="/success-stories/maverick-ai">&#62;Maverick.ai</a></li>
        <li class="p10 text-left"><a href="/success-stories/tee-public">&#62;Teepublic</a></li>
        <li class="p10 text-left"><a href="/success-stories/minibar-delivery">&#62;Minibar Delivery</a></li>
        <li class="p10 text-left"><a href="/portfolio">&#62;Portfolio</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">COMPANY
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="p10 text-left"><a href="/about">&#62;About</a></li>
        <li class="p10 text-left"><a href="/portfolio">&#62;Portfolio</a></li>
        <li class="p10 text-left"><a href="/services">&#62;Services</a></li>
        <li class="p10 text-left"><a href="/jobs">&#62;Join our team</a></li>
        <li class="p10 text-left"><a href="/blog">&#62;Blog</a></li>
      </ul>
    </li>

    <li class="dropdown"><a href="/contact" class="dropdown-toggle-new">CONTACT</a></li>
    <li class="nav-cta"><div id="btn-meetsect"><a href="/schedule-meeting/" class="btn btn-rounded btn-meet">Schedule a Meeting</a></div></li>
  </ul>
</div>
