<div class="enquiry-wraper" id="enquiry-form">
  <div class="container">
    <h2 class="en-head">Curious on Kubernetes managed service, Get in touch!</h2>
  <br>
  <br>

    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <form name="sentMessage" id="contactForm" data-toggle="validator">
          <div class="contact-form">
            <div class="form-group row">
              <div class="col-sm-6">
                <input class="form-control" type="text"  placeholder="Name *" id="name" 
                      required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
                <div class="col-sm-6">
                  <input class="form-control" type="email" placeholder="Email *"  id="email" required data-validation-required-message="Please enter your email address.">
                </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <textarea class="form-control"  rows="4" cols="40" placeholder="Tell us more" id="message"></textarea>
              </div>
            </div>

            <div id="success"></div>
            
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
