<script src="{{ site.baseurl }}/js/jquery.js"></script> 
<!-- <script src="/codecrux.github.io/js/jquery.js"></script>
<script src="/codecrux.github.io/js/plugins.min.js"></script>
<script src="/codecrux.github.io/js/functions.js"></script> -->
<script src="{{ site.baseurl }}/js/plugins.min.js"></script> 
<script src="{{ site.baseurl }}/js/functions.js"></script>

<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="full-header">
        <div id="header-wrap">
            <div class="container">
                <div class="header-row">

                    <!-- Logo

                    ============================================= -->
                    <div id="logo" style="height: 20px;">
                        <a href="{{ site.baseurl }}/_layouts/landing-page.html" ><img src="{{ site.baseurl }}/img/cx-final-logo.png" alt="codecrux.com" style="image-resolution: -10%;" /></a>
                        <a href="landing-page.html" class="retina-logo"><img src="{{ site.baseurl }}/img/cx-final-logo.png" alt="codecrux.com" /></a>
                        <!-- <a href="navtrial.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="{{ site.baseurl }}/img/cx-final-logo" alt="codecrux.com" /></a>
                        <a href="navtrial.html" class="retina-logo"><img src="{{ site.baseurl }}/img/cx-final-logo" alt="codecrux.com" /></a> -->
                    </div><!-- #logo end -->

                    <div id="primary-menu-trigger">
                        <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                    </div>

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav class="primary-menu">

                        <ul class="menu-container">
                            <li class="menu-item">
                                <a class="menu-link" href="https://codecrux.com/"><div>Home</div></a>
                              
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>Company</div></a>
                                <ul class="sub-menu-container">
                                    <li class="menu-item">
                                        <a class="menu-link" href="#"><div>About</div></a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="#"><div>Portfolio</div></a>
                                    </li>
                                    <li class="menu-item mega-menu mega-menu-small">
                                        <a class="menu-link" href="#"><div>Join Our Team</div></a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="mega-menu.html"><div>Blog</div></a>
                                    </li>
                                    
                                    
                                </ul>
                            </li>
                            <li class="menu-item mega-menu">
                                <a class="menu-link" href="#"><div>services</div></a>
                                <div class="mega-menu-content mega-menu-style-2">
                                    <div class="container">
                                        <div class="row">
                                            <ul class="sub-menu-container mega-menu-column col-lg-4">
                                                <li class="menu-item mega-menu-title">
                                                    
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>UI & UX Design</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>Web Application Development</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>Ruby On Rails Development</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>Mobile Application Development</div></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <!-- <ul class="sub-menu-container mega-menu-column col-lg-3">
                                                <li class="menu-item mega-menu-title">
                                                    <a class="menu-link" href="#"><div>Utility &amp; Specials</div></a>
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="services.html"><div><i class="icon-star-of-life"></i>Services Pages</div></a>
                                                            <ul class="sub-menu-container mega-menu-dropdown">
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="services.html"><div>Layout 1</div></a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="services-2.html"><div>Layout 2</div></a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="services-3.html"><div>Layout 3</div></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div><i class="icon-calendar3"></i>Events</div></a>
                                                            <ul class="sub-menu-container mega-menu-dropdown">
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="events-list.html"><div>Events List</div></a>
                                                                    <ul class="sub-menu-container mega-menu-dropdown">
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="events-list.html"><div>Right Sidebar</div></a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="events-list-left-sidebar.html"><div>Left Sidebar</div></a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="events-list-both-sidebar.html"><div>Both Sidebar</div></a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="events-list-fullwidth.html"><div>Full Width</div></a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="events-list-parallax.html"><div>Parallax List</div></a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="event-single.html"><div>Single Event</div></a>
                                                                    <ul class="sub-menu-container mega-menu-dropdown">
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="event-single-right-sidebar.html"><div>Right Sidebar</div></a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="event-single-left-sidebar.html"><div>Left Sidebar</div></a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="event-single-both-sidebar.html"><div>Both Sidebar</div></a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="event-single.html"><div>Full Width</div></a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="event-single-full-width-image.html"><div>Single Event - Full</div></a>
                                                                    <ul class="sub-menu-container mega-menu-dropdown">
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="event-single-full-width-image.html"><div>Parallax Image</div></a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="event-single-full-width-map.html"><div>Google Map</div></a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="event-single-full-width-slider.html"><div>Slider Gallery</div></a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a class="menu-link" href="event-single-full-width-video.html"><div>HTML5 Video</div></a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="events-calendar.html"><div>Full Width Calendar</div></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="contact.html"><div><i class="icon-envelope"></i>Contact Pages</div></a>
                                                            <ul class="sub-menu-container mega-menu-dropdown">
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="contact.html">Main Layout</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="contact-2.html">Grid Layout</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="contact-3.html">Right Sidebar</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="contact-4.html">Both Sidebars</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="contact-5.html">Modal Form</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="contact-6.html">Form Overlay</a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="contact-7.html">Form Overlay Mini</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="faqs.html"><div><i class="icon-question-circle"></i>FAQs Pages</div></a>
                                                            <ul class="sub-menu-container mega-menu-dropdown">
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="faqs.html"><div>Layout 1</div></a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="faqs-2.html"><div>Layout 2</div></a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="faqs-3.html"><div>Layout 3</div></a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a class="menu-link" href="faqs-4.html"><div>Layout 4</div></a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul> -->
                                            <ul class="sub-menu-container mega-menu-column col-lg-4">
                                                <li class="menu-item mega-menu-title">
                                                   
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>Android Application Development</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>IOS Mobile Application Development</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>React ative Application Development</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>Kubernets</div></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ul class="sub-menu-container mega-menu-column col-lg-4">
                                                <li class="menu-item mega-menu-title">
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>Open Source Customization</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>ChatBots</div></a>
                                                        </li>
                                                        
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- <li class="menu-item mega-menu">
                                <div class="mega-menu-content mega-menu-style-2">
                                    <div class="container">
                                        <div class="row">
                                            <ul class="sub-menu-container mega-menu-column col">
                                                <li class="menu-item mega-menu-title">
                                                    <a class="menu-link" href="#"><div>Grids</div></a>
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-1.html"><div>1 Column</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-2.html"><div>2 Columns</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-3.html"><div>3 Columns</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio.html"><div>4 Columns</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-5.html"><div>5 Columns</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-6.html"><div>6 Columns</div></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ul class="sub-menu-container mega-menu-column col">
                                                <li class="menu-item mega-menu-title">
                                                    <a class="menu-link" href="#"><div>Masonry</div></a>
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-mixed-masonry.html"><div>Mixed Columns</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-2-masonry.html"><div>2 Columns</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-3-masonry.html"><div>3 Columns</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-masonry.html"><div>4 Columns</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-5-masonry.html"><div>5 Columns</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-6-masonry.html"><div>6 Columns</div></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ul class="sub-menu-container mega-menu-column col">
                                                <li class="menu-item mega-menu-title">
                                                    <a class="menu-link" href="#"><div>Loading Styles</div></a>
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio.html"><div>jQuery Filter</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-jpagination.html"><div>jQuery Pagination</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-infinity-scroll.html"><div>Infinity Scroll</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-ajax.html"><div>AJAX In Page</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-ajax-in-modal.html"><div>AJAX In Modal</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-filter-styles.html"><div>Filter Styles</div></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ul class="sub-menu-container mega-menu-column col">
                                                <li class="menu-item mega-menu-title">
                                                    <a class="menu-link" href="#"><div>Single Project</div></a>
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-single-extended.html"><div>Extended Item</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-single-fullwidth.html"><div>Parallax Image</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-single-gallery-full.html"><div>Slider Gallery</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-single-video-fullwidth-left-sidebar.html"><div>HTML5 Video</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-single-thumbs-right-sidebar.html"><div>Masonry Thumbs</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-single-video-both-sidebar.html"><div>Embed Video</div></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ul class="sub-menu-container mega-menu-column col">
                                                <li class="menu-item mega-menu-title">
                                                    <a class="menu-link" href="#"><div>Layouts</div></a>
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-nomargin.html"><div>Default</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-1-alt-right-sidebar.html"><div>Right Sidebar</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-3-left-sidebar.html"><div>Left Sidebar</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-2-both-sidebar.html"><div>Both Sidebar</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-fullwidth-notitle.html"><div>100% Width</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="portfolio-parallax.html"><div>Parallax</div></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            <li class="menu-item mega-menu">
                                <a class="menu-link" href="#"><div>Solutions</div></a>
                                <div class="mega-menu-content mega-menu-style-2">
                                    <div class="container">
                                        <div class="row">
                                            <ul class="sub-menu-container mega-menu-column col-lg-3">
                                                <li class="menu-item mega-menu-title">
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>Custom crm development</div></a>
                                                        </li>
                                                
                                                       
                                                        
                                                    </ul>
                                                </li>
                                                <li class="menu-item mega-menu-title">
                                                    <!-- <a class="menu-link" href="#"><div>Timeline</div></a> -->
                                                    <ul class="sub-menu-container">
                                                        <!-- <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>Job portal Development</div></a>
                                                        </li> -->
                                                        <!-- <li class="menu-item">
                                                            <a class="menu-link" href="blog-timeline-left-sidebar.html"><div>Left Sidebar</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="blog-timeline.html"><div>Full Width</div></a>
                                                        </li> -->
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ul class="sub-menu-container mega-menu-column col-lg-3">
                                                <li class="menu-item mega-menu-title">
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>ecommerce web and mobile application </div></a>
                                                        </li>
                                                       
                                                    </ul>
                                                </li>
                                                <!-- <li class="menu-item mega-menu-title">
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>Waste management system </div></a>
                                                        </li>
                                                       
                                                    </ul>
                                                </li> -->
                                            </ul>
                                            <ul class="sub-menu-container mega-menu-column col-lg-3">
                                                <li class="menu-item mega-menu-title">
                                                   
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>ecommerce web and mobile application </div></a>
                                                        </li>
                                                       
                                                    </ul>
                                                </li>
                                                <!-- <li class="menu-item mega-menu-title">
                                                    <a class="menu-link" href="#"><div>Item Splitting</div></a>
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="blog-grid.html"><div>Pagination</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="blog-masonry.html"><div>Infinite Scroll</div></a>
                                                        </li>
                                                    </ul>
                                                </li> -->
                                            </ul>
                                            <ul class="sub-menu-container mega-menu-column col-lg-3">
                                                <li class="menu-item mega-menu-title">
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>Job portal Development</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="#"><div>School Management Software and Mobile App</div></a>
                                                        </li>
                                                        <!--<li class="menu-item">
                                                            <a class="menu-link" href="blog-single-left-sidebar.html"><div>Left Sidebar</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="blog-single-full.html"><div>Full Width</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="blog-single-small.html"><div>Small Image</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="blog-single-split-right-sidebar.html"><div>Split Layout</div></a>
                                                        </li> -->
                                                    </ul>
                                                </li>
                                                <!-- <li class="menu-item mega-menu-title">
                                                    <a class="menu-link" href="#"><div>Comments Module</div></a>
                                                    <ul class="sub-menu-container">
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="blog-single-left-sidebar.html#comments"><div>Facebook Comments</div></a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a class="menu-link" href="blog-single-small.html#comments"><div>Disqus Comments</div></a>
                                                        </li>
                                                    </ul>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>Success Stories</div></a>
                                <ul class="sub-menu-container">
                                    <li class="menu-item">
                                        <a class="menu-link" href="#"><div>Mavericl.ai</div></a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="#"><div>Teepublic</div></a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="#"><div>Minibar Delivery</div></a>
                                    </li>
                                    <!-- <li class="menu-item">
                                        <a class="menu-link" href="shop-1.html"><div>1 Columns</div></a>
                                        <ul class="sub-menu-container">
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-1.html"><div>Full Width</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-1-right-sidebar.html"><div>Right Sidebar</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-1-left-sidebar.html"><div>Left Sidebar</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-1-both-sidebar.html"><div>Both Sidebar</div></a>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <!-- <li class="menu-item">
                                        <a class="menu-link" href="shop-category-parallax.html"><div>Categories - Parallax</div></a>
                                    </li> -->
                                    <li class="menu-item">
                                        <a class="menu-link" href="#"><div>Portfolio</div></a>
                                    </li>
                                    <!-- <li class="menu-item">
                                        <a class="menu-link" href="shop-single.html"><div>Single Product</div></a>
                                        <ul class="sub-menu-container">
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-single.html"><div>Full Width</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-single-right-sidebar.html"><div>Right Sidebar</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-single-left-sidebar.html"><div>Left Sidebar</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-single-both-sidebar.html"><div>Both Sidebar</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-single-color.html"><div>Color Options</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-single-sticky.html"><div>Sticky Aside</div></a>
                                            </li>
                                            <li class="menu-item">
                                                <a class="menu-link" href="shop-single-list.html"><div>Feature List</div></a>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <!-- <li class="menu-item">
                                        <a class="menu-link" href="cart.html"><div>Cart</div></a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" href="checkout.html"><div>Checkout</div></a>
                                    </li> -->
                                </ul>
                            </li>
                            <li class="menu-item mega-menu">
                                    <div class="col-10 form-group" style="margin-top: 15px;">
                                        <button class="button button-3d m-0" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Schedule a Meeting</button>
                                </div>
                            </li>
                        </ul>

                    </nav><!-- #primary-menu end -->

                    <form class="top-search-form" action="http://themes.semicolonweb.com/html/canvas/search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
                    </form>

                </div>
            </div>
        </div>
        <div class="header-wrap-clone"></div>
    </header><!-- #header end -->

