<section class="team-wraper">
 <div class="section-heading">
  <h2>Meet Our Core Team</h2>
  <p style="text-align:center;">We meet and get to know our clients. You tell us and we listen.</p>
</div>

<div class="container">
  <div class="row">
    <center>

    <div class="col-sm-3 col-xs-6">
      <div class="team-card">
        <img src="/img/team/shyam-mohan.jpeg" alt="Shyam Mohan K" style="width:80%" class="img-circle">
        <h3>Shyam Mohan K <a href="https://www.linkedin.com/in/shyam-mohan-k/" target="_blank"><img src="/img/linkedin.svg" alt="Linkedin" width="24" height="24"></a></h3>
        <p class="title">Co Founder & CEO</p>
        <p class="title">UPTU, Lucknow Alumni</p>

      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="team-card">
        <img src="/img/team/dinesh-yadav.jpeg" alt="Dinesh Yadav" style="width:80%" class="img-circle">
        <h3>Dinesh Yadav <a href="https://www.linkedin.com/in/dineshsinghyadav/" target="_blank"><img src="/img/linkedin.svg" alt="Linkedin" width="24" height="24"></a></h3>
        <p class="title">Co Founder & CTO</p>
        <p class="title">IIIT, Hyderabad Alumni</p>

      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="team-card">
        <img src="/img/team/vinay.jpeg" alt="Vinay Kumar" style="width:80%" class="img-circle">
        <h3>Vinay Kumar  <a href="https://www.linkedin.com/in/vinay-kumar-iiith/" target="_blank"><img src="/img/linkedin.svg" alt="Linkedin" width="24" height="24"></a></h3>
        <p class="title">Co Founder & Partner</p>
        <p class="title">IIIT, Hyderabad Alumni</p>

      </div>
    </div>

      <div class="col-sm-3 col-xs-6">
        <div class="team-card">
          <img src="/img/team/Vipul-Vikram.jpeg" alt="Vipul Vikram" style="width:80%" class="img-circle">
          <h3>Vipul Vikram <a href="https://www.linkedin.com/in/vipul-vikram-27565415/" target="_blank"><img src="/img/linkedin.svg" alt="Linkedin" width="24" height="24"></a> </h3>
          <p class="title">Senior Consultant</p>
          <p class="title">IIT, Bombay Alumni</p>
        </div>
      </div>


    <div class="clearfix"></div>
    <br>
    <br>



    <div class="col-sm-3 col-xs-6">
      <div class="team-card">
        <img src="/img/team/mike-raghavan.jpeg" alt="Mike Raghavan" style="width:80%" class="img-circle">
        <h3>Mike Raghavan <a href="https://www.linkedin.com/in/mike-raghavan-2223b7188/" target="_blank"><img src="/img/linkedin.svg" alt="Linkedin" width="24" height="24" ></a> </h3>
        <p class="title">Partner (Sales & Marketing)</p>
        <p class="title">IIT-M, UC Berkeley Alumni</p>
      </div>
    </div>



<!--      <div class="col-sm-3 col-xs-6">-->
<!--        <div class="team-card">-->
<!--          <img src="/img/team/deepak.jpeg" alt="Deepak Vig" style="width:80%" class="img-circle" >-->
<!--          <h3>Deepak Vig  <a href="https://www.linkedin.com/in/deepakvig/" target="_blank"><img src="/img/linkedin.svg" alt="Linkedin" width="24" height="24"></a> </h3>-->
<!--          <p class="title">Co Founder & Director</p>-->
<!--          <p class="title">IIIT, Hyderabad Alumni</p>-->

<!--        </div>-->
<!--      </div>-->




  </div>
</div>
</section>

