<section class="team-wraper">
 <div class="section-heading">
  <h2>Meet Our Team</h2>
  <p style="text-align:center;">We meet and get to know our clients. You tell us and we listen.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="team-card">
        <img src="/img/team/codecrux-shyam.jpg" alt="Shyam Mohan K" style="width:100%">
        <h3>Shyam Mohan K <a href="https://www.linkedin.com/in/shyam-mohan-k/" target="_blank"><img src="/img/linkedin.svg" alt="Linkedin" width="24" height="24"></a></h3>
        <p class="title">Co Founder & CEO</p>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="team-card">
        <img src="/img/team/codecrux-dinesh.jpg" alt="Dinesh Yadav" style="width:100%">
        <h3>Dinesh Yadav <a href="https://www.linkedin.com/in/dineshsinghyadav/" target="_blank"><img src="/img/linkedin.svg" alt="Linkedin" width="24" height="24"></a></h3>
        <p class="title">Co Founder & CTO</p>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="team-card">
        <img src="/img/team/codecrux-vinay.jpg" alt="Vinay Kumar" style="width:100%">
        <h3>Vinay Kumar  <a href="https://www.linkedin.com/in/vinay-kumar-iiith/" target="_blank"><img src="/img/linkedin.svg" alt="Linkedin" width="24" height="24"></a></h3>
        <p class="title">Co Founder & Solutions Engineer</p>

      </div>
    </div>

    <div class="col-sm-3">
      <div class="team-card">
        <img src="/img/team/codecrux-deepak.jpg" alt="Deepak Vig" style="width:100%">
        <h3>Deepak Vig  <a href="https://www.linkedin.com/in/deepakvig/" target="_blank"><img src="/img/linkedin.svg" alt="Linkedin" width="24" height="24"></a> </h3>
        <p class="title">Co Founder & Solutions Engineer</p>

      </div>
    </div>

  </div>
</div>
</section>

