<style>
  .icon-box h3{
    font-size: 21px !important;
  }
  .icon-box li{
    font-size: 15px !important;
  }
</style>
<section id="services" class="services counts">
  <div class="container">
    <div class="section-heading">
      <h2>Our Ready to Use Products</h2>
      <br>
      <center><p>We have build AI/ML and DevOps Products, Which you can use to grow your business.</p></center>
    </div>
    <div class="row row-style py-5">
      <div
        class="
          col-md-6 col-lg-4
          d-flex
          align-items-stretch
          mb-5 mb-lg-0
          col-centered
        "
      >
        <div class="icon-box">
          <center>
            <img src="/img/home/AIML-Powered-Document-Processing1.png" height="200px" alt="full stack development">
          </center>
          
          <h3>AI/ML-Powered Document Processing</h3>
          <ul>
            <li>> Automated Data Extraction</li>
            <li>> Data Classification</li>
            <li>> Entity Recognition</li>
            <li>> Sentiment Analysis</li>
            <li>> Document Summarization</li>
            <li>> Document Search and Retrieval</li>
            <li>> Aadhaar and PAN Card Data Extraction</li>
            <li>> Invoice, Contracts & NDA processing</li>
          </ul>
        </div>
      </div>
      
      <div
        class="
          col-md-6 col-lg-4
          d-flex
          align-items-stretch
          mb-5 mb-lg-0
          col-centered
        "
      >
        <div class="icon-box">
          <center>
            <img src="/img/home/Audio-Image-and-Video-Processing.png" height="200px" alt="AIML and Data Engineering">
          </center>

          <h3>Audio, Image, and Video Processing</h3>
          <ul>
            <li>> Speech Recognition & Noise Reduction</li>
            <li>> Voice Cloning & Synthesis</li>
            <li>> Audio Classification</li>
            <li>> Images Preprocessing & Object Detection</li>
            <li>> Video Processing & Real-time Tracking</li>
            <li>> Video Summarization & Content Moderation</li>
            <li>> Action Recognition</li>
          </ul>
        </div>
      </div>
      <div
        class="
          col-md-6 col-lg-4
          d-flex
          align-items-stretch
          mb-5 mb-lg-0
          col-centered
        "
      >
        <div class="icon-box">
          <center>
            <img src="/img/home/razorops.png" height="200px" alt="DevOps automation and MLOps">
          </center>

          <h3> DevOps Automation with RazorOps</h3>
          <ul>
            <li>> Cloud Migration & Cost Optimization</li>
            <li>> DevOps Automation & CI/CD setup</li>
            <li>> Container Support</li>
            <li>> Parallel Execution</li>
            <li>> Multi-Cloud & Multi-Platform Support</li>
            <li>> Integration with Dev Tools</li>
            <li>> Real-time Monitoring</li>
            <li>> High Scale Architecture</H3></li>
          </ul>
        </div>
      </div>

    </div>
  </div>



</section>

