<section class="technologies-wraper">
  <div class="tech-items">
    <div class="tech-item">
      <a href="/ruby-on-rails-development" ><img src="/img/tech-images/ruby-original.png" alt="ruby on rails developer hyderabad" /><BR /> <span>Ruby</span></a>
    </div>
    <div class="tech-item">
      <a href="/technology/#python" ><img src="/img/tech-images/python-original.png" alt="python developer hyderabad" /><br /><span>Python</span></a>
    </div>

     <div class="tech-item">
      <a href="/technology/#backbone" ><img src="/img/tech-images/golang.png" alt="go lang developer hyderabad" /><br /><span>Go lang</span></a>
    </div>

    <div class="tech-item">
      <a href="/technology/#react" ><img src="/img/tech-images/react-original.png" alt="react developer hyderabad" /><br /><span>ReactJS</span></a>
    </div>

    <div class="tech-item">
      <a href="/technology/#react" ><img src="/img/tech-images/vuejs.png" alt="vue js developer hyderabad" /><br /><span>VueJS</span></a>
    </div>

    <div class="tech-item">
      <a href="/technology/#angularjs" ><img src="/img/tech-images/angularjs-original.png" alt="angularjs developer hyderabad" /><br /> <span>Angular</span></a>
    </div>

    <div class="tech-item">
      <a href="/technology/#android" >
        <img src="/img/tech-images/android-original.png" alt="mobile application developers hyderabad" /><br /><span>Android</span>
      </a>
    </div>

    <div class="tech-item">
      <a href="/kubernetes" ><img src="/img/tech-images/kubernetes.png" alt="kubernetes developers" /><br /><span>Kubernetes</span></a>
    </div>

    <div class="tech-item">
      <a href="/kubernetes" ><img src="/img/tech-images/devops.png" alt="devops hyderabad" /><br /> <span>DevOps</span></a>
    </div>
  </div>
</section>
