<!-- testimonoal goeshere-->
<div class="testimonial-wraper">
  <div class="container">
    <div class="section-heading">
      <h2 class="text-center">What Our Clients Say</h2><br>
    </div>
    <div id="carousel-example-generic" class="carousel testi-carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <div class="testi-item">
            <div class="testi-media">
              <img src="/img/clients/mavrick-yaron.jpeg" alt="mavrick-yaron" class="img-responsive img-circle">
            </div>
            <div class="testi-body">
              <h4 class="testi-title">Yaron Oren </h4>
              <b>Founder - Maverick.ai</b>
              <p>CodeCrux has built a complex system for us and throughout the process has remained very communicative, high agile, and quick to respond to our doubts and queries.</p>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="testi-item">
            <div class="testi-media">
              <img src="/img/clients/hiredgrad-krishna.jpeg" alt="hiredgrad-krishna" class="img-responsive img-circle">
            </div>
            <div class="testi-body">
              <h4 class="testi-title">Krishna Venkata</h4>
              <b>Co Founder - HiredGrad</b>
              <p>We have found Codecrux to be very professional, proactive and great to work with. They have done a good job of understanding the skills and requirements of our teams and have matched their engineers accordingly.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>