<style>
  .icon-box h3{
    font-size: 21px !important;
  }
  .icon-box li{
    font-size: 16px !important;
  }
</style>
<section id="services" class="services counts">
  <div class="container">
    <div class="section-heading">
      <h2>What we do?</h2>
      <br>
      <center><p>We do more than just development, we help build your business.</p></center>
    </div>
    <div class="row row-style py-5">
      <div
        class="
          col-md-6 col-lg-4
          d-flex
          align-items-stretch
          mb-5 mb-lg-0
          col-centered
        "
      >
        <div class="icon-box">
          <center>
            <img src="/img/home/full-stack-development.webp" height="200px" alt="full stack development">
          </center>
          
          <h3>Full-stack Development</h3>
          <ul>
            <li>> User Interface (UI) Design using figma</li>
            <li>> Frontend UI/UX Development</li>
            <li>> Client-Side Logic</li>
            <li>> Backend Apps Development</li>
            <li>> REST API Development</li>
            <li>> Database Design & Deployment</li>
            <li>> Microservices Development</li>
            <li>> High Scalability Architecture</li>
          </ul>
        </div>
      </div>
      
      <div
        class="
          col-md-6 col-lg-4
          d-flex
          align-items-stretch
          mb-5 mb-lg-0
          col-centered
        "
      >
        <div class="icon-box">
          <center>
            <img src="/img/home/AIML-and-Data-Engineering.png" width="100%" alt="AIML and Data Engineering">
          </center>

          <h3>AI/ML & Data Engineering</h3>
          <ul>
            <li>> AI/ML Model Deployment</li>
            <li>> Integration of AI/ML Models</li>
            <li>> Data Collection and Storage</li>
            <li>> Images & Data Preprocessing</li>
            <li>> Model Training and Evaluation</li>
            <li>> Model Production Deployment</li>
            <li>> Data Governance and Compliance</li>
          </ul>
        </div>
      </div>
      <div
        class="
          col-md-6 col-lg-4
          d-flex
          align-items-stretch
          mb-5 mb-lg-0
          col-centered
        "
      >
        <div class="icon-box">
          <center>
            <img src="/img/home/DevOps-automation-and-MLOps.png" height="200px" alt="DevOps automation and MLOps">
          </center>

          <h3>DevOps automation & MLOps</h3>
          <ul>
            <Cost>> Cloud Migration & Cost Optimization</li>
            <li>> DevOps Automation & CI/CD setup</li>
            <li>> Infrastructure as Code (IaC)</li>
            <li>> Configuration Management</li>
            <li>> IT Infrastructure Monitoring & reporting</li>
            <li>> Multi Cloud Docker & Kubernetes Setup</li>
            <li>> AI Model Training & Monitoring</li>
            <li>> High Scale Architecture Design</H3></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- <section  id="expertise">
  <div class="section-heading">
    <h2>What we do?</h2>
    <br>
    <center><p>We do more than just development, we help build your business.</p></center>
  </div>

  <div class="container">
    <br><br>
    <div class="row">

      <div class="col-md-4 col-sm-6">
        <a href="/ui-ux-design/">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/codecrux-ui-ux.svg" alt="codecrux ui ux design" height="84px" />
              <h3>UI & UX Design</h3>
              <p>“A user interface is like a joke. If you have to explain it, it’s not that good.” - that's what we believe in.</p>
            </center>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="/ruby-on-rails-development">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/codecrux-web-development.svg" alt="codecrux ui ux design" height="84px" />
              <h3>Web Development</h3>
              <p>
                Web development as a whole is an essential component for success, and our team of experts make it look simple.
              </p>
            </center>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="/mobile-apps-development/">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/mobile-app-development.svg" alt="codecrux mobile app development" height="84px" />
              <h3>Mobile Development</h3>
              <p>
              We excel in customising mobile app solutions which are well-thought before being implemented for a dynamically changing market.</p>
            </center>
          </div>
        </a>
      </div>

  
      <div class="col-md-4 col-sm-6">
        <a href="/microservices-and-api-development/">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/micro-services.svg" alt="codecrux ui ux design" height="84px" />
              <h3>Microservices Development</h3>
              <p>
                In the recent years, Microservices has grown in popularity as a distinctive method of developing software systems.
              </p>
            </center>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="/kubernetes/">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/kubernetes.svg" alt="codecrux devops" height="84px" />
              <h3>Kubernetes</h3>
              <p>
                We effectively adopt and integrate various test & production automation solutions.
              </p>
            </center>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="/devops-as-a-service">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/codecrux-devops.svg" alt="DevOps as a Service" height="84px" />
              <h3>DevOps as a Service</h3>
              <p>
                We provide DevOps as a service to businesses who want to deploy applications in the cloud.
              </p>
            </center>
          </div>
        </a>
      </div>

    </div>
  </div>
</section> -->