<section  id="expertise">
  <div class="section-heading">
    <h2>What we do?</h2>
    <br>
    <center><p>We do more than just development, we help build your business.</p></center>
  </div>

  <div class="container">
    <br><br>
    <div class="row">

      <div class="col-md-4 col-sm-6">
        <a href="/ui-ux-design/">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/codecrux-ui-ux.svg" alt="codecrux ui ux design" height="84px" />
              <h3>UI & UX Design</h3>
              <p>“A user interface is like a joke. If you have to explain it, it’s not that good.” - that's what we believe in.</p>
            </center>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="/ruby-on-rails-development">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/codecrux-web-development.svg" alt="codecrux ui ux design" height="84px" />
              <h3>Web Development</h3>
              <p>
                Web development as a whole is an essential component for success, and our team of experts make it look simple.
              </p>
            </center>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="/mobile-development/">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/mobile-app-development.svg" alt="codecrux mobile app development" height="84px" />
              <h3>Mobile Development</h3>
              <p>
              We excel in customising mobile app solutions which are well-thought before being implemented for a dynamically changing market.</p>
            </center>
          </div>
        </a>
      </div>

      <br>
      <br>
      <br>

      <div class="col-md-4 col-sm-6">
        <a href="/microservices-and-api-development/">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/microservice.svg" alt="codecrux ui ux design" height="84px" />
              <h3>Microservices Development</h3>
              <p>
                In the recent years, Microservices has grown in popularity as a distinctive method of developing software systems.
              </p>
            </center>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="/kubernetes/">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/codecrux-devops.svg" alt="codecrux devops" height="84px" />
              <h3>DevOps Engineering</h3>
              <p>
                We effectively adopt and integrate various test & production automation solutions.
              </p>
            </center>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="/devops-as-a-service">
          <div class="feature-item-icon1">
            <center>
              <img src="/img/codecrux-devops.svg" alt="DevOps as a Service" height="84px" />
              <h3>DevOps as a Service</h3>
              <p>
                We provide DevOps as a service to businesses who want to deploy applications in the cloud.
              </p>
            </center>
          </div>
        </a>
      </div>

    </div>
  </div>
  <br>
  <br>
  <br>
</section>

<section id="focus-areas" class="features-wraper">
  <div class="features-wraper-head">
    <div class="section-heading">
      <h2>Industries we've worked for</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      </div>
      <img src="/img/home/codecrux-product-industries.png" alt="codecrux product industries" width="100%" style="margin-top:-60px;" />
    </div>
  </div>
</section>
