---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Ruby on Rails Developer, Business Development Executive and content writer and marketing jobs at CodeCrux Web Technologies Pvt Ltd.
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs, BD jobs, content writer jobs, content writer, BD, Business Development, Job, Sales, Services, hiring, career, opportunities, start-up, startup, good environment, smart team, smart people, best place
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">Golang/System Engineer<br>
        <small> Hyderabad or remote (with appropriate candidate)</small><br>
      </h1>
      <h3>Job Description:</h3>
      <p>We are looking for talented Golang developers who will be a crucial part of our software team. 
        The selected candidate will have to write scalable, robust, and easy-to-maintain code. 
        They will be required to translate software requirements into high-performance products.</p>
      <p>Experience:-  5-10 years </p>
      <p>Full Time</p>
      <h3>Skills / Requirement:</h3>
      <p>1. Golang Developer with min. 2 year hands on experience.</p>
      <p>2. Knows latest container technologies and worked on Kubernetes and containers or VM based environments</p>
      <p>3. Knows Kubernetes Operators </p>
      <p>4. Have build Restful API(s)</p>
      <p>5. System internals</p>
      <p>6. Automation ( ansible or terraform ) is bonus</p>
      
      <h3>Tech Stack:</h3>
      <p>1. Golang microservices</p>
      <p>2. Kubernetes & Nomad ( custom drivers written in golang)</p>
      <p>3. Kubernetes Operator</p>
    </div>
    
    <br><br>

    {% include /how-to-apply.html %}


    <div class="col-xs-12 col-sm-12"><br><br><hr class="pf-item-hr"><br><br></div>

  </div>
</section>

{% include /technology.html %}

{% include /thub.html %}
