---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Ruby on Rails Developer, Business Development Executive and content creators and marketing jobs at CodeCrux Web Technologies Pvt Ltd
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">ava / Spark Developer - Big Data/Hadoop expert <br>
        <small>Hyderabad  - (Full Time)</small>
      </h1>
     <div><hr class="pf-item-hr"><br></div>

      <p><b>Job Requirements :</b> </p>
        
        <ol>
          <p>1. 7 to 10+ years of Java-based application development [Hands on Java 8+].</p>
          <p>2. 2+ years of Apache Spark-based application development.</p>
          <p>3. Experience in building batch and streaming applications.</p>
          <p>4. Experience with Apache Spark batch framework.</p>
          <p>5. Knowledge of Apache Spark structured streaming is nice to have. </p>
          <p>6. Knowledge of advanced Spark usage (Caching, Checkpointing, etc.).</p>
          <p>7. Experience in design patterns, architectural patterns, and data patterns. </p>
          <p>8. Experience in developing and deploying large-scale distributed applications and event processing systems.</p>
          <p>9. Hands-on expertise in Apache Spark in a JavaJ2EE environment would be a plus. </p>
          <p>10. Experience in working on large data sets.</p>
          <p>11. Experience developing and/or using web services (REST and/or SOAP). </p>
          <p>12. Strong debugging skills from client-side to server-side to back-end.</p>
          <p>13. Experience working with complex data models, large databases, extensive reporting, and data analysis is a plus.</p>
          <p>14. Solid understanding of Big Data Systems in the Hadoop Ecosystem. Experience with Apache Spark.</p>
          <p>15. Work independently completing small to large-sized projects while managing priorities in a demanding production environment.</p>
          <p>16. End-to-end delivery on projects from documentation to production while functioning within the process.</p>
          <p>17. Actively participating in high-level engineering team activities such as suggesting architecture improvements, recommending process improvements, and conducting tool evaluations.</p>

        </ol>

        

        

    </div><br><br>

    {% include /how-to-apply.html %}

  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

{% include /thub.html %}
