---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Ruby on Rails Developer, Business Development Executive and content writer and marketing jobs at CodeCrux Web Technologies Pvt Ltd.
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs, BD jobs, content writer jobs, content writer, BD, Business Development, Job, Sales, Services, hiring, career, opportunities, start-up, startup, good environment, smart team, smart people, best place
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">FullStack Engineer (Web/Rails)<br>
        <small> Hyderabad or remote (with appropriate candidate)</small><br>
      </h1>
      <h3>Job Description:</h3>
      <p>We are looking to hire a talented ruby on rails developer to manage the interchange of data between our users and the server. You will be responsible for developing and maintaining the server-side logic for the central database, testing performance, troubleshooting, and integrating front-end elements into the application.Designing and developing new web applications.
        Maintaining and troubleshooting existing web applications.Writing and maintaining reliable Ruby code.
        </p>
      <p>Experience:-  2-5 years </p>
      <p>Full TIme</p>
      <h3>Skills / Requirement:</h3>
      <p>1. Should know Rails and it’s best practices</p>
      <p>2. knows Javascript, Jqeury</p>
      <p>3. Knows SQL database ( Postgres/Mysql)</p>
      <p>4. Knowledge of microservices, Restful API(s)</p>
      <p>5. Ruby, Git, Linux experience</p>
      
      <h3>Tech Stack:</h3>
      <p>1. Front-end: Rails View(s), VueJS</p>
      <p>2. Backend: Postgres</p>
      <p>3. Infra: Kubernetes & Docker</p>
      
      
    </div>
    <br><br>

    {% include /how-to-apply.html %}


    <div class="col-xs-12 col-sm-12"><br><br><hr class="pf-item-hr"><br><br></div>

  </div>
</section>
{% include /technology.html %}

{% include /thub.html %}
