---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Web Developer,MERN Engineer, Native Application Development, Web Application Development jobs at CodeCrux Web Technologies Pvt Ltd.
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs, BD jobs, content writer jobs, content writer, BD, Business Development, Job, Sales, Services, hiring, career, opportunities, start-up, startup, good environment, smart team, smart people, best place
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">MERN FullStack Engineer<br>
        <small> Work From Office :Hyderabad  - (Full Time)</small><br>
      </h1>
      <div><hr class="pf-item-hr"><br></div>

     
      <p><b>Job Requirements :</b> </p>
        
      <ol>
        <p>1. Should have 5-7+ years of experience in Web Development.</p>
        <p>2. Has worked on React v16 & above and redux libraries. Knows about hooks and context API.</p>
        <p>3. Has worked on Nodejs on production systems using frameworks like Express or Koa.js.</p>
        <p>4. Know how to write the code using TypeScript.</p>
        <p>5. Experience in technologies like Docker, Kubernetes, git, terraform. </p>
        <p>6. Knows CSS in JS pattern by using libraries like react-emotion.</p>
        <p>7. Must have an understanding of Docker, Git. </p>
        <p>8. Used Webpack as one of the module bundlers.</p>
        <p>9. Has Worked on Jest testing framework. </p>
        <p>10. Has basic knowledge of GCP or AWS (Cloud).</p>
        <p>11. Have experience of site performance via audit and knows metrics like Core Web Vitals. </p>
        
      </ol>
      
      <p><b>Bonus Point if:</b></p>
      <ol>
        <p>1. Good if the person knows how monorepo works and pnpm usage.</p>
        <p>2. Understanding of how PWA works, Service Side rendering, React Native and Hybrid apps. </p>
        <p>3. Understanding of Metrics and Monitoring of web applications using tools like Cortex, Grafana, or similar. </p>
        <p>4. Set up Infrastructure as a code using Terraform.</p>
        <p>5. Good if the person has previously worked on building a UI for User Campaign Management. You know what it takes to build UI interfaces that let users build user segments, schedule campaigns, user journeys, integrate with external APIs.</p>
        
      </ol>
    </div>
    
    <br><br>

    {% include /how-to-apply.html %}


    <div class="col-xs-12 col-sm-12"><br><br><hr class="pf-item-hr"><br><br></div>

  </div>
</section>

{% include /technology.html %}

{% include /thub.html %}
