---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Ruby on Rails Developer, Business Development Executive and content creators and marketing jobs at CodeCrux Web Technologies Pvt Ltd
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">Ruby on Rails Developer <br>
        <small>Work From Office :Hyderabad - (Full Time)</small><br>
        <small>Experience: 8+ Years</small>
      </h1>
     <div><hr class="pf-item-hr"><br></div>

      <p><b>Job Description:</b> We are looking for a Ruby developer responsible for building Ruby applications, including anything from complex groups of back-end microservices to command line utilities and data processing scripts. Your primary responsibility will be to design and develop these applications, and to coordinate with the rest of the team working on different layers of the infrastructure. Thus, a commitment to collaborative problem solving, sophisticated design, and building quality products is essential.</p>
        <h3>Technical/ Functional Skills:</h3>
        <ol>
          <p>1. 8+ Years of overall software development experience, preferably secure, scalable web applications in Ruby on Rail, Java, and/or C#, .NET
            5+ Years of experience with Ruby on Rail development in a Linux/Unix environment.</p>
          <p>2. Experience in client-side coding using HTML5, DHTML, CSS, JavaScript, ReactJS and JQuery is a plus.</p>
          <p>3. Knowledge on API Creation and Authentication.</p>
          <p>4. Writing Database queries - SQL, Salesforce - Simple Queries.</p>
          <p>5. Bootstrap - Intermediate Level.</p>
          <p>6. Request/Response format.</p>
          <p>7. Knowledge of Node JS and ReactJS.</p>
          <p>8. Experience with Web 2.0 site development or UX design concept is a plus.</p>
          <p>9. Knowledge in Heroku, Git- Deployments and code versioning.</p>
          <p>10. Knowledge on Microservices Architecture is a plus.</p>
        </ol>

         <h3>Roles & Responsibilities:</h3>
        <ol>
          <p>1. Project development - Design, Coding and Unit Testing and maintenance.</p>
          <p>2. Develop web-based user interfaces, applications, and Web Service integration APIs using Ruby on Rails technologies.</p>
          <p>3. Responsible for requirements definition, design and implementation of integrations and enterprise services in Ruby on Rails Heroku platform.</p>
          <p>4. Responsible for contributing to and being a champion of Ruby on Rails Restful API best practices for enterprises services.</p>
          <p>5. Responsible for working with business owners to propose high-quality user experience solutions for desktop and mobile web applications.</p>
          <p>6. Responsible for working with the configuration management and administration teams to provide accurate build and deployment instructions.</p>
          <p>7. Ensure application development principles, standards, and best practices are followed for each project.</p>
          <p>8. Responsible for working with tertiary groups such as Security, Architecture, IT Operations, and QA to ensure quality design, delivery, and adherence to corporate standard.</p>
         


        </ol>

        

    </div><br><br>

    {% include /how-to-apply.html %}

  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

{% include /thub.html %}
