---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Golang, Strong understanding of either HTTP (or gRPC protocol),Good Knowledge of AWS services and experience working in any cloud platform (AWS, Azure, etc.,) preferably Azure, experience working on Linux Environment job at CodeCrux Web Technologies Pvt Ltd.
keywords: golang jobs, kubernetes jobs, software Development job, aws cloud hyderabad job, junior developer jobs, Business Development, Job, Sales, Services, hiring, career, opportunities, start-up, startup, good environment, smart team, smart people, best place
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">Go programming language Developer & Kubernetes Developer at CodeCrux <br>
        <small>Work From Office :Hyderabad  - (Full Time)</small><br>
        <small>Experience:- Min. 4 to 5 years</small><br>
      </h1>
      <div><hr class="pf-item-hr"></div>
      <br>
      <h3>Job Description:</h3>
      <p>
        <i><b>This is not DevOps position, Please don't apply if you have no experience on developing kubernetes operations and REST API with go programming language
        </b></i><br>
        - We are looking for talented Golang developers / Leaders who will be a crucial part of our software team. The selected candidate will have to write scalable, robust, and easy-to-maintain code. They will be required to translate software requirements into high-performance products.<br>
        - <b>Full Time / Part Time (if u can  dedicate 4 - 5 hours per day) </b>
       </p> 
        <br>

      <h3>Skills & Experience Required:</h3>
      <p>
      1. At least 5 years of relevant software development experience.<br>
      2. Proficient in Go - Programming Language - 4 years experience.<br>
      3. Strong understanding of either HTTP (or gRPC protocol).<br>
      4. Experience in building low latency, high volume REST API requests handling.<br>
      5. Experience in working in distributed caches like Redis.<br>
      6. In-depth Understanding of Kubernetes development which includes defining CRDs, Operating etc. clusters, Kubernetes Operator/Controller, Watcher/Informer.<br>
      7. Good Knowledge of AWS services and experience working in any cloud platform (AWS, Azure, etc.,) preferably Azure.<br>
      8. Excellent attitude and passion for working in a team with a doer attitude.<br>
      9. Team leader attitude, Ability to get stuff done and mentor/guide junior developers.<br>
      3. Any Golang open source contribution or Kubernetes open source  contribution will add more value to the job.<br>
      <br><br>

      
    </p>
    </div>
    <br><br>

    {% include /how-to-apply.html %}


  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

{% include /thub.html %}
