---
layout: blog
title: Angular 4 with Rails 5
description: Angular is a framework for building client applications in HTML and either JavaScript or a language like TypeScript that compiles to JavaScript.
---

<div class="blog-post-banner bg-orange">
  <div class="blog-post-banner-content">
    <div class="blog-post-title">
      <h1>Angular 4 with Rails 5</h1>
    </div>
  </div>
</div>

<div class="blog-post-content">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <p>
        Angular is a framework for building client applications in HTML and
        either JavaScript or a language like TypeScript that compiles to
        JavaScript.
        <br />
        <br />
        <iframe
          src="https://docs.google.com/presentation/d/e/2PACX-1vSJWJtR40pQ1bQv2K-ttGFAB_7weZv02mw3Wy1irQP4Mg2lyEojZ42xuTT9p-dRzrD-3L80DSPougiv/embed?start=true&loop=true&delayms=3000"
          frameborder="0"
          width="715"
          height="430"
          allowfullscreen="true"
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
        ></iframe>
        <br />
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <a
      href="/blog/why-you-should-speak-at-meetups.html"
      class="btn btn-default btn-round"
    >
      <i class="fa fa-long-arrow-left fa-left"></i>Previous</a
    >
    <a
      href="/blog/hiring-an-enthusiastic-and-dedicated-app-development-company.html"
      class="btn btn-default btn-round pull-right"
      >Next<i class="fa fa-long-arrow-right fa-right"></i
    ></a>
  </div>
</div>
{% include /cta.html %}
{% include /articles.html %} 
{% include /comment.html %}
