---
layout: blog
title: Best Ruby On Rails CMS
description: Here is a list of popular CMS built with Ruby on Rails
keywords: ruby on rails cms, best ror content management systems, top ror cms
---

<div class="blog-post-banner bg-orange">
  <div class="blog-post-banner-content">
    <div class="blog-post-title">
      <h1>5 Best Ruby On Rails CMS</h1>
    </div>
  </div>
</div>

<div class="blog-post-content">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <p>
        <strong>Here is a list of popular CMS built with Ruby on Rails</strong>
      </p>
      <p>
        <b>1. Camaleon CMS</b> is an advanced and dynamic Content Management
        System Based on Ruby on Rails 4 which is an alternative to Wordpress in
        Ruby on Rails. This CMS can be adapted to any kind of project without
        programming and giving to users more time for the content instead of
        programing.
        <br />
        <b>Website:</b>
        <a href="http://camaleon.tuzitio.com/" target="_blank"
          >http://camaleon.tuzitio.com/</a
        >
        <br />
        <b>Github</b>
        <a href="https://github.com/owen2345/camaleon-cms" target="_blank"
          >https://github.com/owen2345/camaleon-cms</a
        >
      </p>
      <p>
        <a href="https://github.com/owen2345/camaleon-cms" target="_blank">
          <img
            src="/img/blogs/camaleon-cms-features.png"
            alt="camaleon-cms-features"
          />
        </a>
      </p>

      <br />
      <p>
        <b>2. Radiant CMS </b>
        <br />
        Radiant is a no-fluff, open source content management system designed
        for small teams. Radiant features: <br />
        An elegant user interface <br />
        Flexible templating with layouts, snippets, page parts, and a custom
        tagging language <br />
        A first-class extension/plugin system <br />
        Simple user management and permissions <br />
        <b>Website:</b>
        <a href="http://radiantcms.org/" target="_blank"
          >http://radiantcms.org/</a
        >
        <br />
        <b>Github</b>
        <a href="https://github.com/radiant/radiant/" target="_blank"
          >https://github.com/radiant/radiant/</a
        >
      </p>

      <p>
        <a href="https://github.com/radiant/radiant/" target="_blank"
          ><img src="/img/blogs/radiantcms.png" alt="radiantcms"
        /></a>
      </p>
      <br />

      <p>
        <b>3. Refinery CMS </b> is perfect for creating custom content
        manageable websites. We use "The Rails Way" where possible so you have
        to learn as little as possible to get started!
        <br />
        <b>Website:</b>
        <a href="http://www.refinerycms.com/" target="_blank"
          >http://www.refinerycms.com/</a
        >
        <br />
        <b>Github</b>
        <a href="https://github.com/refinery/refinerycms" target="_blank"
          >https://github.com/refinery/refinerycms</a
        >
      </p>
      <p>
        <a href="https://github.com/refinery/refinerycms" target="_blank"
          ><img src="/img/blogs/refinerycms.png" alt="refinerycms"
        /></a>
      </p>

      <br />
      <p>
        <b>4. Locomotive CMS </b> is completely Open Source. It's a free
        software released under the MIT license. Use is as you like. Copy it,
        modify it, tweak it and resell it. You're free to use it however you
        like, as long as the copyright notices remain in tact.
        <br />
        <b>Website:</b>
        <a href="https://www.locomotivecms.com/" target="_blank"
          >https://www.locomotivecms.com/</a
        >
        <br />
        <b>Github</b>
        <a href="https://github.com/locomotivecms/engine" target="_blank"
          >https://github.com/locomotivecms/engine</a
        >
      </p>
      <p>
        <a href="https://github.com/locomotivecms/engine" target="_blank"
          ><img src="/img/blogs/locomotivecms.png" alt="locomotivecms"
        /></a>
      </p>

      <br />
      <p>
        <b>5. Spina CMS </b> A beautiful CMS for Rails developers.
        <br />
        <b>Website:</b>
        <a href="http://www.spinacms.com/" target="_blank"
          >http://www.spinacms.com/</a
        >
        <br />
        <b>Github</b>
        <a href="https://github.com/denkGroot/Spina" target="_blank"
          >https://github.com/denkGroot/Spina</a
        >
      </p>
      <p>
        <a href="https://github.com/denkGroot/Spina" target="_blank"
          ><img src="/img/blogs/spinacms.png" alt="spinacms"
        /></a>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <a href="/blog/how-to-learn-ruby-on-rails.html" class="btn btn-default btn-round" style="background-color:mediumaquamarine;">
      <i class="fa fa-long-arrow-left fa-left"></i>Previous</a
    >
    <a
      href="/blog/how-to-configure-godaddy-domain-on-heroku.html"
      class="btn btn-default btn-round pull-right" style="background-color:mediumaquamarine;"
      >Next<i class="fa fa-long-arrow-right fa-right"></i
    ></a>
  </div>
</div>

{% include /cta.html %}
{% include /articles.html %} 
{% include /comment.html %}
