---
layout: blog
---
<div class="blog-main-container">
  <div class="blog-banner">
    <div class="blog-banner-message">
      <h1>Codecrux Blog</h1>
      <p>Our Thoughts About Software Design And Development</p>
      <div class="searchbox">
        <center>
        {% include search.html %}
        </center>
      </div>
    </div>
  </div>


  <div class="blogs-wraper">

    {% assign blogs = site.posts %}
    {% for post in blogs %}
      <div class="col-sm-4">
        <article class="blog-item">
          <a href="{{ site.baseurl }}{{ post.url }}" class="blog-item-category" >
            <div class="blog-content-img">
              <img src="{{ post.image }}" alt="{{ post.title }}" />
            </div>
            
            <span class="blog-item-title">{{ post.title }} </span>
           
            <div class="blog-content-row">
              <div class="nopadding">
                <p>
                  {{ post.description}}...<br>
                </p>
                <time class="text-gray">
                  <i class="fa fa-clock-o"></i>
                  {{ post.date | date_to_string }}
                </time>
              </div>
              <div class="clearfix"></div>
            </div>
          </a>
        </article>
      </div>
    {% endfor %}
    
  </div>



<div class="clearfix"></div>
<br>
{% include /enquiry.html %}
