---
layout: blog
title: asset pipeline
description: Introduction about asset pipeline
keywords: Asset pipeline,rails,ruby on rails asset pipeline .
---

<div class="blog-post-banner bg-orange">
  <div class="blog-post-banner-content">
    <div class="blog-post-title">
      <h1>Introduction to rails asset pipeline</h1>
    </div>
  </div>
</div>

<div class="blog-post-content">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <iframe
        src="https://docs.google.com/presentation/d/e/2PACX-1vQMhfkzUOvLx6Qlhrc72-cVnClZFac_3MrCQhyX-zAn9p5i_qVhqG5tX6XItirWhTVWydOK1ZwJOJrv/embed?start=true&loop=true&delayms=3000"
        frameborder="0"
        width="750"
        height="569"
        allowfullscreen="true"
        mozallowfullscreen="true"
        webkitallowfullscreen="true"
      ></iframe>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <a href="#" class="btn btn-default btn-round" 
      ><i class="fa fa-long-arrow-left fa-left"></i>Previous</a
    >
    <a href="/blog/vue-js.html" class="btn btn-default btn-round pull-right" 
      >Next<i class="fa fa-long-arrow-right fa-right"></i
    ></a>
  </div>
</div>
{% include /cta.html %}
{% include /articles.html %} 
{% include /comment.html %}
