---
layout: default
title: Apply for CodeCrux Jobs, send resume to jyothi@codecrux.com
description:  Android Developer, Develop, record, and maintain cutting edge web-based PHP applications job at CodeCrux Web Technologies Pvt Ltd
keywords: php jobs, php fullstack jobs, Lavarel job, php hyderabad job, , codecrux jobs
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">Android Developers (Immediate Joiners will be preferred)
        <br>
        <small>Work Location - From Office ( Hyderabad )</small><br>
        <small>Experience - 2 to 6 years</small><br>
        <small>Reports to - CTO / Web Development Manager</small>
      </h1>
     <div><hr class="pf-item-hr"><br></div>
      <p>We are looking for a Mobile Application Developer who possesses a passion for mobile
        technologies and will work with the next generation payment gateway platform.
        </p>
    <br>
      <p><b>Responsibilities :</b> </p>
        
        <ol>
          <p>1. Design and build Android mobile applications</p>
          <p>2. Collaborate with cross-functional teams to analyze, design, and ship new
            features</p>
          <p>3. Fully responsible for mobile app development in the team</p>
          <p>4. Build and publish applications in app stores</p>
          <p>5. Implement new technologies to maximize application performance</p>
          <p>6. Monitoring the performance of live apps and working on optimizing them at the code
            level</p>
          <p>7. Identifying and resolving bottlenecks, rectifying bugs, and enhancing application
            performance</p>
          <p>8. Performing unit and instrumentation tests on code </p>
          <p>9. Collaborating with cross-functional teams to define and design new features</p>
    </ol>


    <br>
    <br>
    
    <p><b>Skills Required:</b> </p>
    <ol>
          <p>1. Excellent knowledge of core Java</p>
          <p>2. Hands-on experience in the full life cycle of Android application development</p>
          <p>3. Strong knowledge of RESTful web services</p>
          <p>4. Good Knowledge of Android SDK</p>
          <p>5. Push Notifications & Toast</p>
          <p>6. Eclipse & ANT based build system</p>
          <p>7. Android Studio</p>
          <p>8. Proven experience in Mobile App Development</p>
          <p>9. Strong experience with Android Frameworks</p>
          <p>10. Should have Proficient with Java and Kotlin (at least 1 year)</p>
          <p>11. Experience of working with APIs and Web Services
        </p>


        </ol>

        

        

    </div><br><br>

    {% include /how-to-apply.html %}

  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

{% include /thub.html %}
