---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Java Developer, Software Development Executive and software Engineer jobs at CodeCrux Web Technologies Pvt Ltd
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">Java Developer <br>
        <small>Work From Office :Hyderabad  - (Full Time)</small>
      </h1>
     <div><hr class="pf-item-hr"><br></div>

      <p><b>Job Requirements :</b> </p>
        
      <ol>
        <p>1. 2 to 5 years of server-side application development experience with Java, Spring boot, Microservice.</p>
        <p>2. Deeply technical with a track record of successful delivery.</p>
        <p>3. An entrepreneurial spirit combined with strong program and product management skills.</p>
        <p>4. Proven success in building, motivating and retaining teams.</p>
        <p>5. Excellent written and verbal communication skills with the ability to present complex plans and designs. </p>
        <p>6. Excellent judgment, organizational, and problem-solving skills.</p>
        <p>7. Data-driven decision making. </p>
        <p>8. Experience in developing and deploying large-scale distributed applications and event processing systems.</p>
        <p>9. Hands-on expertise in aws (dynamoDB, code commit, build deploy. ec2, etc..). </p>
        <p>10. Experience in  API security.</p>
        <p>11. Knowledge of OAuth or JWT. </p>
        
      </ol>

      <p><b>Preferred Qualifications :</b> </p>
      <ol>
            <p>Bachelor's/Master's Degree in Computer Science or equivalent</p>
      </ol>

      <p><b>Skills that will help you succeed in this role :</b> </p>
      <ol>
            <p>1. Language: Java: RDBMS, Messaging: Kafka/RabbitMQ, Caching: Redis/Aerospike, Micro services, AWS.</p>
            <p>2. Good experience in scaling, performance tuning & optimization at both API and storage layers. </p>
            
      </ol>

        

    </div><br><br>

    {% include /how-to-apply.html %}

  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

{% include /thub.html %}
