---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Ruby on Rails Developer, Business Development Executive and content writer and marketing jobs at CodeCrux Web Technologies Pvt Ltd.
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs, BD jobs, content writer jobs, content writer, BD, Business Development, Job, Sales, Services, hiring, career, opportunities, start-up, startup, good environment, smart team, smart people, best place
---

<section class="container careers-single sm-padding">
  <div class="row">

<div class="col-xs-12 col-sm-9">
      <h1 class="title">Frontend UI/UX Designer <br>
        <small>Hyderabad  - (Part Time or Full Time)</small>
      </h1>
      <div><hr class="pf-item-hr"><br></div>
      <p>We want a talented Web and Mobile UI/UX with interface Design skills to help us continuously innovate and revamp our products to keep us at the top of the market. Work closely with a cross-functional team that includes engineers, product managers to create simple, easy to use software.</p>
      <h3>Essential Skills:</h3>
      <ol>
        <p>Excellent visual design skills with sensitivity to user-system interaction​</p>
        <p>Proficiency in Photoshop, Illustrator, OmniGraffle, or other visual design and wire-framing tools</p>
        <p>ability to present your designs and sell your solutions to various stakeholders.</p>
        <p>Demonstrable UI design skills with a strong portfopo</p>
        <p>Sopd experience in creating wireframes, storyboards, user flows, process flows and site maps</p>
        <p>ability to solve problems creatively and effectively</p>
        <p>Up-to-date with the latest UI trends, techniques, and technologies</p>
        <p>Experience working in an Agile/Scrum development process</p>
      </ol>

      <ul>
        <p>Strong front-end skills in HTML5, CSS3 & jQuery</p>
        <p>Experience in responsive/adaptive design techniques</p>
        <p>Make designs real by implementing rich interactions and animations using CSS3 & jQuery</p>
        <p>Experience in implementing Backbone.JS, javascript and AJAX</p>
        <p>Experience with CSS pre-processors (LESS/SASS)</p>
        <p>Experience in version controlpng whilst working with other developers</p>
        <p>Experience with version control (especially Git)</p>
        <p>Knowledge of cross-platform and cross-browser issues</p>
        <p>The ability to multitask on several projects whilst working to tight timescales</p>
        <p>High level of self-management and organizational skills</p>
      </ul>

    </div>
    <br><br>

   
    {% include /how-to-apply.html %}
  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

<br>
<br>
<center>
  <img src="../../img/thub/thub-office-india.jpg" alt="thub-office" class="img-fluid" width="300">
  <img src="../../img/thub/T-Hub-Space.jpg" alt="thub-office" class="img-fluid" width="300">
  <img src="../../img/thub/thub-office.jpg" alt="thub-office" class="img-fluid" width="300">
  <img src="../../img/thub/t-hub-hyderabad.jpg" alt="thub-office" class="img-fluid" width="300">
</center>

<br><br>