<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Codecrux | Careers</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="We build beautiful, data-driven and outcome focused products for startups, high growth, enterprises">
    <link rel="canonical" href="http://codecrux.com/process/">

    {% include favicon.html %}


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,900,500,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top" class="index">
    {% include header.html %}

    <div class="blog-main-content">
      {{ content }}
    </div>

    <p>&nbsp;</p>
    <center>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_whatsapp_large' displayText='WhatsApp'></span>
      <span class='st_sharethis_large' displayText='ShareThis'></span>
    </center>
    <p>&nbsp;</p>

    {% include /footer.html %}

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ site.baseurl }}/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  </body>
</html>
