<!DOCTYPE html>
<html>
  {% include /head.html %}
	<body id="top">
    {% include /header.html %}
    <div class="main-content">
      {{ content }}
    </div>
    {% include /footer.html %}

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ site.baseurl }}/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  </body>
</html>

<!-- Contact Form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/contact_me.js"></script>
