<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="https://codecrux.com/" />
    {% include favicon.html %}

    <title>{{ page.title | default: "Build the AI-Native Enterprise | CodeCrux" }}</title>
    <meta
      name="description"
      content="{{ page.description | default: site.description }}"
    />
    <meta
      name="keywords"
      content="enterprise AI, AI engineering, agentic AI, AI transformation, AI agents, LLMOps, RAG, AI adoption, CodeCrux"
    />
    <meta property="og:title" content="{{ page.title | default: 'Build the AI-Native Enterprise | CodeCrux' }}" />
    <meta property="og:description" content="{{ page.description | default: site.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://codecrux.com/" />
    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/owl.theme.css" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&amp;family=Manrope:wght@400;500;600;700;800&amp;display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,900,700,300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Maven+Pro:400,900,500,700"
      rel="stylesheet"
      type="text/css"
    />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="cc-site">
    <nav class="navbar navbar-default home-navbar" id="navbar">
      <div class="container">{% include /header.html %}</div>
    </nav>

    {{ content }} {% include /footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ site.baseurl }}/js/jqBootstrapValidation.js"></script>
    <script src="{{ site.baseurl }}/js/contact_me.js"></script>
    <script src="{{ site.baseurl }}/js/app.js"></script>

    <!-- Custom Theme JavaScript -->
    <!-- <script src="/js/agency.js"></script> -->
    <script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#team-carousel").owlCarousel({
          items: 3,
        });
        $("#portfolio-carousel").owlCarousel({
          items: 2,
          //  singleItem: true,
          autoPlay: true,
        });
      });
    </script>
  </body>
</html>
