<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="http://codecrux.com/">

    <title>Smart,Data-Driven and Outcome focussed product development company</title>
    <meta name="description" content="CodeCrux builds web and mobile applications using Ruby on Rails, iOS and Android for startups, high growth, enterprises">
    <meta name="keywords" content="Software,Ruby,Rails,Outsourcing,Offshore development,iOS,Android,Development,Interface,Experience,Design,UI,UX,GUI,Agile,India,Hyderabad,T-hub, ruby on rails, ruby on rails new york, what is ruby on rails, ruby rails, ruby on rails companies, ruby on rails development, ror development hyderabad, rubyonrails, ruby on rails company, ror development company, rubygems, USA, India,UAE, ruby on rails company usa, ruby on rails development company india, ruby on rails framework" />
    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/owl.theme.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,900,500,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include favicon.html %}

</head>
<body>
  <nav class="navbar navbar-default home-navbar" style="background: transparent;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="/">
          <span class="color-primary">
            <img src="/img/codecrux.com.png" alt="codecruc.com" />
            CodeCrux
          </span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>


  {{ content }}


  {% include /footer.html %}

  <!-- jQuery Version 1.11.0 -->
  <script src="/js/jquery-1.11.0.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/classie.js"></script>
  <script src="/js/cbpAnimatedHeader.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="/js/jqBootstrapValidation.js"></script>
  <script src="/js/contact_me.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/js/agency.js"></script>
  <script src="/js/owl.carousel.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#tech-carousel").owlCarousel({
        loop:true,
          margin:10,
          responsiveClass:true,
          responsive:{
              0:{
                  items:2,
                  nav:true
              },
              600:{
                  items:3,
                  nav:false
              },
              1000:{
                  items:9,
                  nav: false
              }
          }
      });
      $("#team-carousel").owlCarousel({
         items : 3
      });
      $("#portfolio-carousel").owlCarousel({
         items : 2,
        //  singleItem: true,
         autoPlay: true
      });
    });
  </script>

  </body>
</html>
