<!DOCTYPE html>
<html lang="en">
  {% include favicon.html %}
  {% include /navhead.html %}
	<body id="top"class="stretched" >

      
    <!-- <nav class="navbar navbar-default default-header home-navbar" id="navbar"> -->
      <!-- {% include /status-banner.html %} -->
      <!-- <div class="container"> -->
        {% include /navtrial.html %}
      <!-- </div> -->
    
    <div class="main-content">
      {{ content }}
    </div>
    <div class="clear"><br></div>
    
    {% include /footer.html %}

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="/js/jquery-1.11.0.js"></script> -->
    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&amp;display=swap" rel="stylesheet" type="text/css" />

  </body>
</html>

<!-- Contact Form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/app.js"></script>
<script src="/js/contact_me.js"></script>
