---
layout: default
title: Apply for CodeCrux Jobs, send resume to shyam@codecrux.com
description:  Ruby on Rails Developer, Business Development Executive and content creators and marketing jobs at CodeCrux Web Technologies Pvt Ltd
keywords: ruby on rails jobs, ror jobs, Business Development job, ruby on rails hyderabad job, content writing jobs, content marketing jobs
---

<section class="container careers-single sm-padding marg-20">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">Inbound Content Creator <br> <small>Hyderabad  - (Part Time or Full Time)</small></h1>
      <div><hr class="pf-item-hr"><br></div>
      <p>

      We are looking for a motivated content creator to help us grow by generating technical contents for our website and blogs.
      <br>
      We are looking for a long-term engagement with freelancers who would be responsible for generating contents for our website, emails, case-studies, whitepapers, blogs, and e-books.
      <br>
      <br>
      <b>Requirements:</b><br>

      • Work well independently <br>

      • Great time management skills <br>
      • Love to hustle and work in a fast paced environment<br>
      • Self-taught learner willing to read and keep up-to-date on technological
      changes<br><br>

      <b>Skills</b><br>
      Content Marketing, Creative Writing, Copy Writing and Editing, Documentation, Technical Writing, Proofreading

      </p>
    </div>
    
    {% include /how-to-apply.html %}
  </div>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

<br>
<br>
<br>

  


<section class="container careers-single sm-padding">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1 class="title">SEO & Digital Marketing <br> <small>Hyderabad  - (Part Time or Full Time)</small></h1>
      <div><hr class="pf-item-hr"><br></div>
      <h3>Essential Skills:</h3>
      <ol>
        <p>Social Bookmarking Submission</p>
        <p>Article Submissions</p>
        <p>Press Release Submissions</p>
        <p>Blog Submissions</p>
        <p>Unique articles written</p>
        <p>Meta tags changes suggestions</p>
        <p>Keyword research</p>
        <p>Competitor Analyses</p>
        <p>Heading tag changes</p>
        <p>Keyword Density in site content</p>
        <p>XML site map and Submission in webmaster tool</p>
      </ol>
    </div><br><br>

    {% include /how-to-apply.html %}
  </div><br><br>
</section>
<div><br><br><hr class="pf-item-hr"><br></div>
{% include /technology.html %}

{% include /thub.html %}
